<div class="container">
  <form [formGroup]="postFormGroup">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Title" class="form-label">Title</label>
          <input type="text" formControlName="title" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Images" class="form-label">Images</label>
        </div>
        <input type="file" accept="image/png, image/jpg, image/jpeg" (change)="onImagePic($event)" accept="image/*" />
      </div>
    </div>
    <textarea #froalaEditor [froalaEditor]="options" formControlName="body"></textarea>
    <div class="row my-3">
      <div class="col-md-6">
        <label for="Category" class="form-label">Category</label>
        <select class="form-control" formControlName="category" #cat (change)="checkDrug($event)">
          <option value="Patient">Patient</option>
          <option value="Drug">Doctor Tools</option>
          <option value="Nursing">Nursing</option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="cat.value === 'Drug'">
        <label for="Sub Category" class="form-label">Sub Category</label>
        <select class="form-control" (change)="checkIndex($event)" formControlName="subCategory">
          <option value="Drug index">Drug index</option>
          <option value="laboratory investigations">laboratory investigations</option>
          <option value="laporoscopy">Laporoscopy</option>
          <option value="Basic  gynacology">Basic gynacology</option>
          <option value="Instruments & Materials">Instruments & Materials</option>
          <option value="The ultrasound">The ultrasound</option>
          <option value="ASSISTED CONCEPTION">ASSISTED CONCEPTION</option>
          <option value="Atlas of pelvic surgery">Atlas of pelvic surgery</option>
          <option value="reports & legal issues">reports & legal issues</option>
          <option value="Useful resources">Useful resources</option>
        </select>
      </div>

      <div class="col-md-6" *ngIf="cat.value === 'Patient'">
        <label for="Sub Category" class="form-label">Sub Category</label>
        <select class="form-control" (change)="checkIndex($event)" formControlName="subCategory">
          <option value="Antenatal care">Antenatal care</option>
          <option value="Diseases with pregnancy">Diseases with pregnancy</option>
          <option value="Fetology">Fetology</option>
          <option value="Endocrinological disorders">Endocrinological disorders</option>
          <option value="Gynaecological Oncology">Gynaecological Oncology</option>
          <option value="urogynacology">urogynacology</option>
          <option value="Contraceptive methods">Contraceptive methods</option>
          <option value="Infection">Infection</option>
          <option value="Labor">Labor</option>
          <option value="procedures">procedures</option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="isDrug && isIndex">
        <label for="Drug Type" class="form-label">Drug Type</label>
        <select class="form-control" formControlName="drugType">
          <option value="Management Common Obstetric Complaints">Management Common Obstetric Complaints</option>
          <option value="Management Common Gynacology Complaints">Management Common Gynacology Complaints</option>
          <option value="Drug Index Of Common Used Drugs">Drug Index Of Common Used Drugs</option>
        </select>
      </div>
    </div>

    <!-- <div class="row" *ngIf="isDrug && !isIndex">
      <div class="col">
        <div class="butto btn btn-info" (click)="addForm()">Add Form</div>
      </div>
    </div>

    <ng-template *ngIf="isDrug&&!isIndex">

      <div *ngFor="let form of drugForms.controls; let index = index" formArrayName="drugForms">
        <div class="row my-3" [formGroupName]="index">
          <div class="col-md-6">
            <div class="form-group d-flex align-items-center gap-3">
              <label for="Form" class="form-label">Form</label>
              <input type="text" class="form-control" formControlName="form" />
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group d-flex align-items-center gap-3">
              <label for="Product" class="form-label">Product</label>
              <input type="text" class="form-control" formControlName="product" />
            </div>
          </div>
          <div class="col-md-1 d-flex">
            <button class="btn btn-warning" (click)="deleteForm(index)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </ng-template> -->

    <div class="row">
      <div class="col d-flex justify-content-end">
        <div class="form-group d-flex gap-3">
          <button *ngIf="!id" class="btn btn-primary" (click)="savePost()">
            Save
          </button>
          <button *ngIf="id" class="btn btn-primary" (click)="savePost()">
            Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #AddForm let-modal>
  <div class="card-header">
    <h2>Adding Drung</h2>
  </div>
  <form class="m-3">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Form" class="form-label">Form</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Product" class="form-label">Product</label>
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
  </form>
  <div class="card-footer d-flex justify-content-end gap-3">
    <button class="btn btn-success">Add</button>
    <button class="btn btn-warning" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>
