<app-navbar></app-navbar>

<!-- hero Section -->
<!-- <app-hero></app-hero> -->

<div class="container">
  <div class="cards-container d-flex align-items-center text-center">
    <div class="card-container shadow">
      <h2>Drug index</h2>
      <a routerLink="/doctors/drug">
        <img src="assets/img/drug.jpg" alt="" />
      </a>
    </div>
    <div class="card-container shadow">
      <h2>laboratory investigations</h2>
      <a
        routerLink="/doctors/blog"
        [queryParams]="{ page: 1, cat: 'laboratory investigations' }"
      >
        <img src="assets/img/lab.jpg" alt="" />
      </a>
    </div>
    <div class="card-container shadow">
      <h2>Basic gynacology</h2>
      <a
        routerLink="/doctors/blog"
        [queryParams]="{ page: 1, cat: 'Basic  gynacology' }"
      >
        <img style="width: 50%" src="assets/img/basics.jpg" alt="" />
        <img style="width: 50%" src="assets/img/basic.jpg" alt="" />
      </a>
    </div>

    <div class="card-container shadow">
      <h2>Instruments & Materials</h2>
      <a
        routerLink="/doctors/blog"
        [queryParams]="{ page: 1, cat: 'Instruments & Materials' }"
      >
        <img src="assets/img/instruments.jpg" alt="" />
      </a>
    </div>

    <div class="card-container shadow">
      <h2>The ultrasound</h2>
      <a
        routerLink="/doctors/blog"
        [queryParams]="{ page: 1, cat: 'The ultrasound' }"
      >
        <img src="assets/img/ultra.jpg" alt="" />
      </a>
    </div>
    <div class="card-container shadow">
      <h2>ASSISTED CONCEPTION</h2>
      <a
        routerLink="/doctors/blog"
        [queryParams]="{ page: 1, cat: 'ASSISTED CONCEPTION' }"
      >
        <img src="assets/img/assisted.jpg" alt="" />
      </a>
    </div>

    <div class="card-container shadow">
      <!-- <h2>Atlas of pelvic surgery</h2> -->
      <a
        routerLink="/doctors/blog"
        [queryParams]="{ page: 1, cat: 'Atlas of pelvic surgery' }"
      >
        <img src="assets/img/atlas.jpg" alt="" />
      </a>
    </div>

    <div class="card-container shadow">
      <h2>reports & legal issues</h2>
      <a
        routerLink="/doctors/blog"
        [queryParams]="{ page: 1, cat: 'reports & legal issues' }"
      >
        <img style="width: 50%" src="assets/img/s.gif" alt="" />
        <img style="width: 50%" src="assets/img/medical.png" alt="" />
      </a>
    </div>

    <div class="card-container shadow">
      <h2>laporoscopy</h2>
      <a
        routerLink="/doctors/blog"
        [queryParams]="{ page: 1, cat: 'laporoscopy' }"
      >
        <img style="width: 50%" src="assets/img/lap.jpg" alt="" />
        <img style="width: 50%" src="assets/img/la.jpg" alt="" />
      </a>
    </div>

    <div class="card-container shadow">
      <h2>Useful resources</h2>
      <a
        routerLink="/doctors/blog"
        [queryParams]="{ page: 1, cat: 'Useful resources' }"
      >
        <img src="assets/img/useful.jpg" alt="" />
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>
