


.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0px;
  gap: 20px;
}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 425px;
  border-radius: 15px;
  padding: 20px 0px;
  cursor: pointer;
}

.card-container img {
  width: 70%;
  height: auto;
}

.card-container .User-Auth {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card-container .User-Auth a {
  color: #fff;
  background-color: blueviolet;
  padding: 10px 20px;
  font-weight: 600;
  box-shadow: var(--box-shadow);
  border-radius: 7px;
}

.card-container .User-Auth a:active {
  transform: scale(0.9);
}
