<app-navbar></app-navbar>

<!-- hero Section -->
<!-- <app-hero></app-hero> -->

<div class="container">
  <div class="row my-3 justify-content-center">
    <div class="col-md-4">
      <input type="text" #s class="form-control" />
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="search(s.value)">Search</button>
    </div>
  </div>
</div>

<div
  dir="rtl"
  class="container"
  [ngClass]="{ 'fill-height': posts?.length === 0 }"
>
  <!-- <app-blog-cards [posts]="posts"></app-blog-cards> -->
  <div class="row">

  <div
    *ngFor="let post of posts"
    class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12"
  >
    <div class="card-container position-relative">
      <a
        class="heading-link text-align-right"
        [routerLink]="post._id"
        [queryParams]="{ title: post.title, type: post.type }"
      >
        <div class="content">
          <h4 class="title position-absolute">
            {{ post.title }}
          </h4>
        </div>
      </a>
    </div>
  </div>
</div>

</div>
<div class="container">
  <mat-paginator
    [pageSize]="pager.pageSize"
    [length]="pager.length"
    [pageSizeOptions]="[12]"
    (page)="handlePage($event)"
  ></mat-paginator>
</div>

<app-footer></app-footer>
