.cards-container {
	padding: 19px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 20px;
}

.card-container {
	height: fit-content;
	box-shadow: 1px 1px 7px rgba(25, 25, 26, 0.5);
	background-color: #fff;
	text-align: left;
	transition: all ease 1s;
	width: 350px;
  height: 300px;
  background-color:#f7b3b0;
}

.card-container:hover {
	box-shadow: 4px 5px 16px rgba(25, 25, 26, 0.5);
}

.content h4 {
	bottom: 0;
	right: 20px;
	color: #fff;
}

.heading-link {
	color: #fff;
  transition: all ease 0.5s;
}
.heading-link:hover {
	color: var(--blue);
	text-decoration: none;
}


@media screen and (max-width: 992px) {
	.card-container {
		margin: 0 auto;
	}
}
