<div class="container">
  <form [formGroup]="icsiForm">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="Code" class="form-label">Code</label>
          <input type="text" class="form-control" formControlName="code" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="Name" class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="" class="form-label">Address</label>
          <input type="text" formControlName="occupation" class="form-control" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="Notes" class="form-label">Notes</label>
          <input type="text" class="form-control" formControlName="partnersOccupation" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="Last Visit" class="form-label">Last Visit</label>
          <input type="date" class="form-control" formControlName="lastVisit" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="Visit Number" class="form-label">Visit Number</label>
          <input type="number" min="0" class="form-control" formControlName="visitNumber" />
        </div>
      </div>
    </div>
    <h3>Personal history</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="Birth Date" class="form-label">Birth Date</label>
          <input type="date" class="form-control" formControlName="birthDate" (change)="showAge($event, perAge)" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="Age" class="form-label">Age</label>
          <input type="number" min="0" disabled class="form-control" #perAge [value]="patientAge" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="Marital Status" class="form-label">Marital Status</label>
          <select class="form-control" formControlName="martialStatus">
            <option value="Choose Martial Status" disabled>
              Choose Martial Status
            </option>
            <option value="Married 1st">Married 1st</option>
            <option value="Married 2nd">Married 2nd</option>
            <option value="More">More</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="Marriage Date" class="form-label">Marriage Date</label>
          <input type="date" class="form-control" formControlName="marriageDate" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="Partner's Birth Date" class="form-label">Partner's Birth Date</label>
          <input type="date" class="form-control" formControlName="partnersBirthDate"
            (change)="showAge($event, patAge)" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="Partner's Age" class="form-label">Partner's Age</label>
          <input type="number" min="0" disabled [value]="partnerAge" #patAge class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group d-flex align-items-center gap-2">
          <label for="Obstetric history" class="form-label bold">Obstetric history</label>
          <button class="btn btn-info" (click)="openModal(AddObstetric)">
            Add
          </button>
        </div>
        <div formGroupName="obstetricHistory">
          <p>
            G
            <input type="number" min="0" formControlName="g" class="material-input" />
            <span formGroupName="p">
              P
              <input type="number" min="0" formControlName="first" class="material-input" />
              +
              <input type="number" min="0" formControlName="second" class="material-input" />
              +
              <input type="number" min="0" formControlName="third" class="material-input" />
            </span>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; living
            <input type="number" min="0" formControlName="living" class="material-input" />
            male
            <input type="number" min="0" formControlName="male" class="material-input" />
            female
            <input type="number" min="0" formControlName="female" class="material-input" />
          </p>
          <ng-container *ngFor="
							let item of patient?.icsiRecords?.obstetricHistory
								.specific;
							let i = index
						">
            <p>
              <select class="material-input wandbottom" [value]="item?.rank"
                (change)="updateObstetricHistory($event, 'rank', i)" (input)="dynamicWidth($event)">
                <option value="1st">1st</option>
                <option value="2nd">2nd</option>
                <option value="3rd">3rd</option>
                <option value="4th">4th</option>
                <option value="5th">5th</option>
                <option value="6th">6th</option>
                <option value="7th">7th</option>
                <option value="8th">8th</option>
                <option value="9th">9th</option>
                <option value="10th">10th</option>
                <option value="11th">11th</option>
                <option value="12th">12th</option>
                <option value="13th">13th</option>
                <option value="14th">14th</option>
                <option value="15th">15th</option>
                <option value="16th">16th</option>
                <option value="17th">17th</option>
                <option value="18th">18th</option>
                <option value="19th">19th</option>
                <option value="20th">20th</option>
                <option value="21st">21st</option>
                <option value="22nd">22nd</option>
                <option value="23rd">23rd</option>
                <option value="24th">24th</option>
                <option value="25th">25th</option>
                <option value="26th">26th</option>
                <option value="27th">27th</option>
                <option value="28th">28th</option>
                <option value="29th">29th</option>
                <option value="30th">30th</option>
              </select>
              G
              <input type="text" class="material-input" [value]="item?.w"
                (blur)="updateObstetricHistory($event, 'w', i)" (input)="dynamicWidth($event)" />
              W at time of termination
              <select class="material-input wandbottom" [value]="item?.number"
                (blur)="updateObstetricHistory($event, 'number', i)" (input)="dynamicWidth($event)">
                <option value="Single">Single</option>
                <option value="Twins">Twins</option>
              </select>
              <select class="material-input wandbottom moreWidth" [value]="item?.modeOfTermination" (change)="
									updateObstetricHistory(
										$event,
										'modeOfTermination',
										i
									)
								" (input)="dynamicWidth($event)">
                <option value="Labor N">Labor N</option>
                <option value="Labor CS">Labor CS</option>
                <option value="Abortion Spontanious">
                  Abortion Spontanious
                </option>
                <option value="Abortion D&C">Abortion D&C</option>
                <option value="VM">VM</option>
                <option value="Ectopic Nointervention">
                  Ectopic Nointervention
                </option>
                <option value="Ectopic Medical">Ectopic Medical</option>
                <option value="Ectopic Salpingostomy">
                  Ectopic Salpingostomy
                </option>
              </select>
              year

              <input type="date" class="form-control width172px" [value]="item?.year | date: 'yyyy-MM-dd'"
                (blur)="updateObstetricHistory($event, 'year', i)" (input)="dynamicWidth($event)" />

              <label for="Notes" class="form-label bold">Notes:</label>
              &nbsp; &nbsp;
              <label for="Anaesthesia Note" class="form-label">Anaesthesia Note</label>
              <input type="text" (change)="
									updateObstetricHistory($event, 'anaesthesiaNote', i)
								" class="material-input wandbottom width100px" (input)="dynamicWidth($event)"
                [value]="item?.anaesthesiaNote" />

              <label for="Operative Note" class="form-label">Operative Note</label>
              <input type="text" (change)="
									updateObstetricHistory($event, 'operativeNote', i)
								" [value]="item?.operativeNote" class="material-input wandbottom width100px" (input)="dynamicWidth($event)" />

              <label for="Complication Note" class="form-label">Complication Occurred</label>
              <input type="text" (change)="
									updateObstetricHistory(
										$event,
										'complicationOccurred',
										i
									)
								" [value]="item?.complicationOccurred" class="material-input wandbottom width100px"
                (input)="dynamicWidth($event)" />

              <label for="Baby Weight" class="form-label">Baby Weight</label>
              <input type="number" min="0" (input)="dynamicWidth($event)" (change)="
									updateObstetricHistory($event, 'babyWeight', i)
								" [value]="item?.babyWeight" class="material-input wandbottom" />
              <label for="HG" class="form-label">HG </label>
              <input type="number" min="0" (input)="dynamicWidth($event)" (change)="
									updateObstetricHistory($event, 'hg.before', i)
								" class="material-input wandbottom" [value]="item?.hg.before" />
              &nbsp;

              <input type="number" min="0" (input)="dynamicWidth($event)"
                (change)="updateObstetricHistory($event, 'hg.after', i)" class="material-input wandbottom"
                [value]="item?.hg.after" />

              <label for="BP" class="form-label">BP </label>
              <input type="text" (input)="dynamicWidth($event)" (change)="
									updateObstetricHistory($event, 'bp.before', i)
								" class="material-input wandbottom" [value]="item?.bp.before" />
              &nbsp;

              <input type="text" (input)="dynamicWidth($event)" (change)="updateObstetricHistory($event, 'bp.after', i)"
                class="material-input wandbottom" [value]="item?.bp.after" />

              <button class="btn btn-danger" (click)="deleteObstetricHistory(item._id)">
                delete
              </button>
            </p>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="col">
        <div class="form-group">
          <label for="Previous(ICSI,IUI)" class="form-label">Previous(ICSI,IUI)</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" [value]="false" [checked]="!radioChecked"
              formControlName="previousICSIIUI" />
            <label class="form-check-label">No</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" [value]="true" [checked]="radioChecked"
              formControlName="previousICSIIUI" />
            <label class="form-check-label">yes</label>
          </div>
        </div>
        <div class="form-group">
          <label for="Details" class="form-label">Details</label>
          <textarea rows="5" class="form-control" formControlName="details"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="Hysteroscopy conclusion" class="form-label">Hysteroscopy conclusion</label>
          <input type="text" class="form-control" formControlName="hysteroscopyConclusion" />
        </div>
        <div class="form-group">
          <label for="3D conclusion" class="form-label">3D conclusion</label>
          <input type="text" class="form-control" formControlName="threeDUSConclusion" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="Laboratory results" class="form-label">Laboratory results</label>

          <ngx-datatable class="material" [scrollbarH]="true" rowHeight="auto" [externalPaging]="true" [count]="1"
            [rows]="labResults" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50">
            <ngx-datatable-column name="AMH" prop="amh">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-amh']"
                  (dblclick)="editing[rowIndex + '-amh'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-amh']"
                  (blur)="updateLabRes($event, 'amh', rowIndex)" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="FSH" prop="fsh" [width]="200">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-fsh']"
                  (dblclick)="editing[rowIndex + '-fsh'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-fsh']"
                  (blur)="updateLabRes($event, 'fsh', rowIndex)" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="LH" prop="lh" [width]="200">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-lh']"
                  (dblclick)="editing[rowIndex + '-lh'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-lh']"
                  (blur)="updateLabRes($event, 'lh', rowIndex)" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="E2" prop="e2">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-e2']"
                  (dblclick)="editing[rowIndex + '-e2'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-e2']"
                  (blur)="updateLabRes($event, 'e2', rowIndex)" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="TSH " prop="tsh">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-tsh']"
                  (dblclick)="editing[rowIndex + '-tsh'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-tsh']"
                  (blur)="updateLabRes($event, 'tsh', rowIndex)" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Prolactin " prop="prolactin" [width]="250">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-prolactin']"
                  (dblclick)="editing[rowIndex + '-prolactin'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-prolactin']"
                  (blur)="updateLabRes($event, 'prolactin', rowIndex)" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="RBGS">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-rbgs']"
                  (dblclick)="editing[rowIndex + '-rbgs'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-rbgs']"
                  (blur)="updateLabRes($event, 'rbgs', rowIndex)" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="HBA1c" prop="hba1c">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-hba1c']"
                  (dblclick)="editing[rowIndex + '-hba1c'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-hba1c']"
                  (blur)="updateLabRes($event, 'hba1c', rowIndex)" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <h5>Notes</h5>
       <ul>
         <li>AMH ( any time )</li>
         <li>FSH basal (day 2 or 3 N 5-20)</li>
         <li>LH basal (day 2 or 3 N 5-20)</li>
         <li>TSH (any time )</li>
         <li>Prolactin ( 1st w of menstrual cycle )N ˂25.</li>
       </ul>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="Semen parameters" class="form-label">Semen parameters</label>

          <ngx-datatable class="material" [scrollbarH]="true" rowHeight="auto" [externalPaging]="true"
            [count]="semenParameters.length" [rows]="semenParameters" [columnMode]="ColumnMode.force"
            [headerHeight]="50" [footerHeight]="50">
            <ngx-datatable-column name="Count Mill" prop="countMill">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-countMill']"
                  (dblclick)="editing[rowIndex + '-countMill'] = true">
                  {{value}}
                </span>
                <input type="string" *ngIf="editing[rowIndex + '-countMill']" [value]="value" autofocus (blur)="
										updateSemenParameters(
											$event,
											'countMill',
											rowIndex
										)
									" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Motility a %" prop="a">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-a']"
                  (dblclick)="editing[rowIndex + '-a'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-a']"
                  (blur)="updateSemenParameters($event, 'a', rowIndex)" class="form-control" />
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Motility b %" prop="b">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-b']"
                  (dblclick)="editing[rowIndex + '-b'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-b']"
                  (blur)="updateSemenParameters($event, 'b', rowIndex)" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
            <!--
            <ngx-datatable-column name="Motility a + b %">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
                <span class="full-width-span">
                  {{ row.a + row.b }}
                </span>
              </ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column name="viable%" prop="viable">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-viable']"
                  (dblclick)="editing[rowIndex + '-viable'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-viable']" (blur)="
										updateSemenParameters($event, 'viable', rowIndex)
									" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="normal%" prop="normal">
              <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                <span class="full-width-span" *ngIf="!editing[rowIndex + '-normal']"
                  (dblclick)="editing[rowIndex + '-normal'] = true">
                  {{ value }}
                </span>
                <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-normal']" (blur)="
										updateSemenParameters($event, 'normal', rowIndex)
									" class="form-control" />
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="Category">Category</label>
        <select class="form-control" formControlName="category">
          <option value="High">High</option>
          <option value="Normal">Normal</option>
          <option value="low">low</option>
        </select>
      </div>
      <div class="col">
        <label for="Category">Protocol</label>
        <select class="form-control" formControlName="protocol">
          <option value="GnRH Agonists Long">GnRH Agonists Long</option>
          <option value="GnRH Agonists Short">GnRH Agonists Short</option>
          <option value="GnRH Agonists Ultrashort">
            GnRH Agonists Ultrashort
          </option>
          <option value="GnRH  Antagonists Standard">
            GnRH Antagonists Standard
          </option>
          <option value="GnRH  Antagonists Mild">
            GnRH Antagonists Mild
          </option>
          <option value="GnRH  Antagonists Conventional">
            GnRH Antagonists Conventional
          </option>
          <option value="No GnRhanalog">No GnRhanalog</option>
          <option value="No GnRhanalog Mini">No GnRhanalog Mini</option>
          <option value="No GnRhanalog Natural">
            No GnRhanalog Natural
          </option>
        </select>
      </div>
    </div>
    <div class="row my-4">
      <div class="col">
        <div class="form-group d-flex gap-3 align-items-center">
          <label for="Visits" class="form-label">Visits</label>
          <button class="btn btn-info" (click)="openModal(AddVisits)">
            Add
          </button>
        </div>
        <ngx-datatable class="material" [scrollbarH]="true" rowHeight="auto" [externalPaging]="true"
          [count]="patient?.icsiRecords?.visits?.length" [columnMode]="ColumnMode.force" [headerHeight]="50"
          [footerHeight]="50" [rows]="patient?.icsiRecords?.visits">
          <ngx-datatable-column name="Visit">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span [innerHTML]="value" class="full-width-span" *ngIf="!editing[rowIndex + '-visit']"
                (dblclick)="editing[rowIndex + '-visit'] = true">
              </span>
              <input type="text" [value]="value" autofocus *ngIf="editing[rowIndex + '-visit']"
                (blur)="updateValue($event, 'visit', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Date" prop="date" [width]="215">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-date']"
                (dblclick)="editing[rowIndex + '-date'] = true">
                {{ value | date: 'yyyy-MM-dd' }}
              </span>
              <input type="date" [value]="value | date: 'yyyy-MM-dd'" autofocus *ngIf="editing[rowIndex + '-date']"
                (blur)="updateValue($event, 'date', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Title" prop="title" [width]="215">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-title']"
                (dblclick)="editing[rowIndex + '-title'] = true">
                {{ value }}
              </span>
              <!-- <input  class="form-control"> -->

              <select [value]="value" autofocus *ngIf="editing[rowIndex + '-title']"
                (blur)="updateValue($event, 'title', rowIndex)" class="form-control">
                <option value="COC">COC</option>
                <option value="GNRHa">GNRHa</option>
                <option value="Gonadotrophins">Gonadotrophins</option>
                <option value="GNRHan">GNRHan</option>
                <option value="Folliculometry">Folliculometry</option>
                <option value="Trigger">Trigger</option>
              </select>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="lmp" prop="lmp" [width]="215">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-lmp']"
                (dblclick)="editing[rowIndex + '-lmp'] = true">
                {{ value | date: 'yyyy-MM-dd' }}
              </span>
              <input type="date" [value]="value | date: 'yyyy-MM-dd'" autofocus *ngIf="editing[rowIndex + '-lmp']"
                (blur)="updateValue($event, 'lmp', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="e2" prop="e2">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-e2']"
                (dblclick)="editing[rowIndex + '-e2'] = true">
                {{ value }}
              </span>
              <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-e2']"
                (blur)="updateValue($event, 'e2', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="FSH" prop="fsh">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-fsh']"
                (dblclick)="editing[rowIndex + '-fsh'] = true">
                {{ value }}
              </span>
              <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-fsh']"
                (blur)="updateValue($event, 'fsh', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="LH" prop="lh">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-lh']"
                (dblclick)="editing[rowIndex + '-lh'] = true">
                {{ value }}
              </span>
              <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-lh']"
                (blur)="updateValue($event, 'lh', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="P" prop="p">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-p']"
                (dblclick)="editing[rowIndex + '-p'] = true">
                {{ value }}
              </span>
              <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-p']"
                (blur)="updateValue($event, 'p', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="P Ratio" prop="pRatio">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-pRatio']"
                (dblclick)="editing[rowIndex + '-pRatio'] = true">
                {{ value }}
              </span>
              <input type="text" [value]="value" autofocus *ngIf="editing[rowIndex + '-pRatio']"
                (blur)="updateValue($event, 'pRatio', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="AFC" prop="afc">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-afc']"
                (dblclick)="editing[rowIndex + '-afc'] = true">
                {{ value }}
              </span>
              <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-afc']"
                (blur)="updateValue($event, 'afc', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [width]="250" name="RT Ovary (sizes & numbers)" prop="rtOvary">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-rtOvary']"
                (dblclick)="editing[rowIndex + '-rtOvary'] = true">
                {{ value }}
              </span>
              <input type="text" [value]="value" autofocus *ngIf="editing[rowIndex + '-rtOvary']"
                (blur)="updateValue($event, 'rtOvary', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]="250" name="LT Ovary (sizes & numbers)" prop="ltOvary">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-ltOvary']"
                (dblclick)="editing[rowIndex + '-ltOvary'] = true">
                {{ value }}
              </span>
              <input type="text" [value]="value" autofocus *ngIf="editing[rowIndex + '-ltOvary']"
                (blur)="updateValue($event, 'ltOvary', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="ET" prop="et">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-et']"
                (dblclick)="editing[rowIndex + '-et'] = true">
                {{ value }}
              </span>
              <input type="number" min="0" [value]="value" autofocus *ngIf="editing[rowIndex + '-et']"
                (blur)="updateValue($event, 'et', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Drug" prop="drug" [width]="215">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-drug']"
                (dblclick)="editing[rowIndex + '-drug'] = true">
                {{ value }}
              </span>
              <input [value]="value" autofocus *ngIf="editing[rowIndex + '-drug']"
                (blur)="updateValue($event, 'drug', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Next Visit" prop="nextVisit" [width]="215">
            <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
              <span class="full-width-span" *ngIf="!editing[rowIndex + '-nextVisit']"
                (dblclick)="editing[rowIndex + '-nextVisit'] = true">
                {{ value | date: 'yyyy-MM-dd' }}
              </span>
              <input type="date" [value]="value | date: 'yyyy-MM-dd'" autofocus *ngIf="editing[rowIndex + '-nextVisit']"
                (blur)="updateValue($event, 'nextVisit', rowIndex)" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions">
            <ng-template let-item="row" let-index="rowIndex" ngx-datatable-cell-template>
              <a placement="bottom" ngbTooltip="Delete" class="text-danger mb-0 mt-0 mx-2">
                <button class="btn" (click)="deleteVisit(item._id, index)">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
    <!-- <div class="row my-4">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          ICSI visits guide
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>

        </ng-template>
      </mat-expansion-panel>
    </div> -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Type /Dose of gonadotrophins used " class="form-label">Type Of Protocol Used</label>
          <input type="text" class="form-control" formControlName="opType" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Type /Dose of gonadotrophins used " class="form-label">Type Of gonadotrophins used</label>
          <input type="text" class="form-control" formControlName="gonadotrophins" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Duration" class="form-label">Duration</label>
          <input type="text" class="form-control" formControlName="duration" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="N Of Eggs" class="form-label">N Of Eggs</label>
          <label for="M1" class="form-label">M1</label>
          <input type="text" class="form-control" formControlName="nOfEggsM1" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="M2" class="form-label">M2</label>
          <input type="text" class="form-control" formControlName="m2" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="OutCome" class="form-label">OutCome</label>
          <input type="text" class="form-control" formControlName="outCome" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="OutCome" class="form-label">N embryos 4c</label>
          <input type="text" class="form-control" formControlName="c4" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="OutCome" class="form-label">8c</label>
          <input type="text" class="form-control" formControlName="c8" />
        </div>
      </div>
    </div>

    <div class="row w-full my-4">
      <div class="col">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Ovarian reserve testing
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <table class="table">
            <caption class="caption-side-top">
              Ovarian reserve testing
            </caption>
            <thead>
              <th></th>
              <th>High Response</th>
              <th>Low Response</th>
            </thead>
            <tbody>
              <tr></tr>
              <tr>
                <td>Total AFC</td>
                <td>16 or more</td>
                <td>3.5 or more</td>
              </tr>
              <tr>
                <td>AMH</td>
                <td>4 or less</td>
                <td>0.8 or less</td>
              </tr>
              <tr>
                <td>Fsh</td>
                <td>4 or less</td>
                <td>8.9 or more</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </mat-expansion-panel>
    </div>

    </div>

    <div class="row">
      <div class="col">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Drug Used In Icsi
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
        <img style="width: 100%;" src="assets/img/drug.png">
        </ng-template>
      </mat-expansion-panel>
    </div>

    </div>
    <br />
    <div class="row">
      <div class="col">
        <div class="form-group d-flex justify-content-end">
          <button class="btn btn-success" (click)="updateICSIFile()">
            Save
          </button>
        </div>
      </div>
      <div class="col">
        <div class="form-group d-flex justify-content-end">
          <button class="btn btn-success" (click)="openModal(publish)">
            Send to ( flying patient files )
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #AddObstetric let-modal>
  <div class="card-header">
    <h2>Add An Obstetric History</h2>
  </div>
  <form class="m-2" [formGroup]="ObstetricHistorySpecificForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="" class="form-label">G</label>
          <br />
          <select type="number" min="0" formControlName="rank" class="form-control">
            <option value="Choose" disabled [selected]="true">
              Choose
            </option>
            <option value="1st">1st</option>
            <option value="2nd">2nd</option>
            <option value="3rd">3rd</option>
            <option value="4th">4th</option>
            <option value="5th">5th</option>
            <option value="6th">6th</option>
            <option value="7th">7th</option>
            <option value="8th">8th</option>
            <option value="9th">9th</option>
            <option value="10th">10th</option>
            <option value="11th">11th</option>
            <option value="12th">12th</option>
            <option value="13th">13th</option>
            <option value="14th">14th</option>
            <option value="15th">15th</option>
            <option value="16th">16th</option>
            <option value="17th">17th</option>
            <option value="18th">18th</option>
            <option value="19th">19th</option>
            <option value="20th">20th</option>
            <option value="21st">21st</option>
            <option value="22nd">22nd</option>
            <option value="23rd">23rd</option>
            <option value="24th">24th</option>
            <option value="25th">25th</option>
            <option value="26th">26th</option>
            <option value="27th">27th</option>
            <option value="28th">28th</option>
            <option value="29th">29th</option>
            <option value="30th">30th</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label for="Weeks" class="form-label"> Weeks </label>
        <br />
        <div class="input-group">
          <input type="number" min="0" formControlName="w" class="form-control" />

          <label class="input-group-text" for="inputGroupSelect02">KG</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="Number of fetuse" class="form-label">Number of fetuse</label>
        <select class="form-control" formControlName="number">
          <option value="Single">Single</option>
          <option value="Twins">Twins</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="Mode Of termination" class="form-label">Mode Of termination</label>
        <select class="form-control" formControlName="modeOfTermination">
          <option value="Labor N">Labor N</option>
          <option value="Labor CS">Labor CS</option>
          <option value="Abortion Spontanious">
            Abortion Spontanious
          </option>
          <option value="Abortion D&C">Abortion D&C</option>
          <option value="VM">VM</option>
          <option value="Ectopic Nointervention">
            Ectopic Nointervention
          </option>
          <option value="Ectopic Medical">Ectopic Medical</option>
          <option value="Ectopic Salpingostomy">
            Ectopic Salpingostomy
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="Year" class="form-label">Year</label>
        <input type="date" formControlName="year" class="form-control" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Notes" class="form-label bold">Notes:</label>
          &nbsp; &nbsp;
          <label for="Anaesthesia Note" class="form-label">Anaesthesia Note</label>
          <input type="text" formControlName="anaesthesiaNote" class="form-control" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Operative Note" class="form-label">Operative Note</label>
          <input type="text" formControlName="operativeNote" class="form-control" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Complication Note" class="form-label">Complication Occurred</label>
          <input type="text" formControlName="complicationOccurred" class="form-control" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Baby Weight" class="form-label">Baby Weight</label>
          <input type="number" min="0" formControlName="babyWeight" class="form-control" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row" formGroupName="hg">
          <div class="col-md-6">
            <div class="form-group">
              <label for="HG" class="form-label">HG Before</label>
              <input type="number" min="0" formControlName="before" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="HG" class="form-label">After</label>
              <input type="number" min="0" formControlName="after" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row" formGroupName="bp">
          <div class="col-md-6">
            <div class="form-group">
              <label for="before" class="form-label">BP Before</label>
              <input type="text" formControlName="before" class="form-control" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="after" class="form-label">After</label>
              <input type="text" formControlName="after" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="card-footer d-flex justify-content-end gap-2">
    <button class="btn btn-success" (click)="AddObstetricHistory()">
      Add
    </button>
    <button class="btn btn-warning" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #AddVisits let-modal>
  <div class="card-header">
    <h2>Add A New Visit</h2>
  </div>
  <form class="m-2" [formGroup]="visitsForm">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="Visit" class="form-label">Visit</label>
          <input type="text" class="form-control" formControlName="visit" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="Date" class="form-label">Date</label>
          <input type="date" class="form-control" formControlName="date" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="Visit Title" class="form-label">Visit Title</label>
          <!-- <input type="date" class="form-control" formControlName="date" /> -->
          <select class="form-control" #title formControlName="title">
            <option value="COC">COC</option>
            <option value="GNRHa">GNRHa</option>
            <option value="Gonadotrophins">Gonadotrophins</option>
            <option value="GNRHan">GNRHan</option>
            <option value="Folliculometry">Folliculometry</option>
            <option value="Trigger">Trigger</option>
          </select>
          {{ guideMap.get(title.value) }}
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="lmp" class="form-label">lmp (1)</label>
          <input type="date" class="form-control" formControlName="lmp" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="ُE2" class="form-label">E2 (2)</label>
          <input type="number" min="0" class="form-control" formControlName="e2" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="FSH" class="form-label">FSH (3)</label>
          <input type="number" min="0" class="form-control" formControlName="fsh" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="LH" class="form-label">LH (4)</label>
          <input type="number" min="0" class="form-control" formControlName="lh" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="P" class="form-label">P (5)</label>
          <input type="number" min="0" class="form-control" formControlName="p" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="P Ratio" class="form-label">P Ratio (6)</label>
          <input type="text" class="form-control" formControlName="pRatio" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          <label for="AFC" class="form-label">AFC (7)</label>
          <input type="number" min="0" class="form-control" formControlName="afc" />
        </div>
      </div>
      <div class="col-lg-5">
        <div class="form-group">
          <label for="RT ovary follicles (sizes &numbers) " class="form-label">RT ovary follicles (sizes &numbers) (8)
          </label>
          <input type="text" class="form-control" formControlName="rtOvary" />
        </div>
      </div>

      <div class="col-lg-5">
        <div class="form-group">
          <label for="LT ovary follicles (sizes &numbers)" class="form-label">LT ovary follicles (sizes
            &numbers) (9)</label>
          <input type="text" class="form-control" formControlName="ltOvary" />
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label for="ET" class="form-label">ET</label>
          <input type="number" min="0" class="form-control" formControlName="et" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="Drug" class="form-label">Drugs & doses (10)</label>
          <input type="text" formControlName="drug" class="form-control" />
          <!-- <select class="form-control" formControlName="drug">
            <option value="Clomid 50 tab
            Technovula tab">
              Clomid 50 tab Technovula tab
            </option>
            <option value="Tamoxifen tab
            Nolvadex tab">
              Tamoxifen tab Nolvadex tab
            </option>
            <option value="Letrozole tab">Letrozole tab</option>
            <option value="Femara tab">Femara tab</option>
            <option value="Bromotemia">Bromotemia</option>
            <option value="Lactodel tab">Lactodel tab</option>
            <option value="Parlodel tab">Parlodel tab</option>
            <option value="Norprolac tab">Norprolac tab</option>
            <option value="Dostinex tab">Dostinex tab</option>
            <option value="Golinosab tab">Golinosab tab</option>
            <option value="Dopergin tab">Dopergin tab</option>
            <option value="Menogon 75 amp">Menogon 75 amp</option>
            <option value="Pergonal 75 amp">Pergonal 75 amp</option>
            <option value="Menofactor 75 amp">Menofactor 75 amp</option>
            <option value="Merional 75/150 amp">
              Merional 75/150 amp
            </option>
            <option value="Metrodin 75 amp">Metrodin 75 amp</option>
            <option value="Fostimon 75/150 amp">
              Fostimon 75/150 amp
            </option>
            <option value="Metrodine HP amp">Metrodine HP amp</option>
            <option value="Pregnyl 5000 amp">Pregnyl 5000 amp</option>
            <option value="Epifassi 5000 amp">Epifassi 5000 amp</option>
            <option value="Choriomon 5000 amp">Choriomon 5000 amp</option>
            <option value="Gonapure amp">Gonapure amp</option>
            <option value="Gonal-f amp">Gonal-f amp</option>
            <option value="Puregon amp">Puregon amp</option>
            <option value="Ovitrelle amp">Ovitrelle amp</option>
            <option value="Luveris amp">Luveris amp</option>
            <option value="Decapeptyl amp">Decapeptyl amp</option>
            <option value="Triptofem amp">Triptofem amp</option>
            <option value="Lupron  amp">Lupron amp</option>
            <option value="Lucrin vial">Lucrin vial</option>
            <option value="Zoladex amp">Zoladex amp</option>
            <option value="Superfact amp">Superfact amp</option>
            <option value="Synarel amp">Synarel amp</option>
            <option value="Cetrotide amp">Cetrotide amp</option>
            <option value="Orgalutran amp">Orgalutran amp</option>
          </select> -->
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="Next Visit" class="form-label">Next Visit (11)</label>
          <input type="date" class="form-control" formControlName="nextVisit" />
        </div>
      </div>
    </div>
  </form>
  <div class="card-footer d-flex gap-3 justify-content-end">
    <button class="btn btn-success" (click)="createVisit()">Add</button>
    <button class="btn btn-warning" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #publish let-modal>
  <div class="card-header">
    <h2>Publish The Icsi</h2>
  </div>
  <form [formGroup]="publishForm">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="title" class="form-label">title</label>
            <input type="text" formControlName="title" class="form-control" />
            <!-- <select class="form-control" formControlName="title">
              <option value="Choose Your Title" disabled [selected]="true">Choose Your Title</option>
              <optgroup label="Diseases with pregnancy">
                <option value="Preeclampsia">Preeclampsia</option>
                <option value="DM  with pregnancy">DM with pregnancy</option>
                <option value="Heart  disease  with pregnancy">Heart disease with pregnancy</option>
                <option value="Hyperemesis gravidarum">Hyperemesis gravidarum</option>
                <option value="Urinary tract infections  with pregnancy">Urinary tract infections with pregnancy
                </option>
                <option value="Anemia  with pregnancy">Anemia with pregnancy</option>
                <option value="Thromboembolism    with pregnancy
">Thromboembolism with pregnancy
                </option>
                <option value="Thyroid disorders  with pregnancy">Thyroid disorders with pregnancy</option>
                <option value="Respiratory disorders     with pregnancy">Respiratory disorders with pregnancy</option>
                <option value="recurrent abortion">recurrent abortion</option>
                <option value="ectopic pregnancy">ectopic pregnancy</option>
                <option value="vesicular mole">vesicular mole</option>
              </optgroup>
              <optgroup label="Fetology">
                <option value="IUGR">IUGR</option>
                <option value="Fetal death">Fetal death</option>
                <option value="Macrosomia">Macrosomia</option>
                <option value="PTL">PTL</option>
                <option value="Postdate">Postdate</option>
                <option value="Polyhydraminos">Polyhydraminos</option>
                <option value="PROM">PROM</option>
                <option value="Twins">Twins</option>
                <option value="Rh incompatablity">Rh incompatablity</option>
                <option value="CFMF">CFMF</option>
              </optgroup>
              <optgroup label="Endocrinological disorders">
                <option value="precocious Puberty">precocious Puberty</option>
                <option value="delayed Puberty">delayed Puberty</option>
                <option value="menopause">menopause</option>
                <option value="amenorrhea">amenorrhea</option>
                <option value="bleeding">bleeding</option>
                <option value="Dysmenorrhoea">Dysmenorrhoea</option>
              </optgroup>
              <optgroup label="Gynaecological Oncology">
                <option value="Uterus  fibroid">Uterus fibroid</option>
                <option value="endometrial carcinoma">endometrial carcinoma</option>
                <option value="uterine polyps">uterine polyps</option>
                <option value="choriocarcinoma">choriocarcinoma</option>
                <option value="endometriosis">endometriosis</option>
                <option value="cervix  CIN">cervix CIN</option>
                <option value="invasive cancer cervix">invasive cancer cervix</option>
                <option value="Ovarian cancer">Ovarian cancer</option>
                <option value="vulval dystrophy">vulval dystrophy</option>
                <option value="VIN invasive">VIN invasive</option>
                <option value="vulval cancer">vulval cancer</option>
                <option value="vaginal cancer">vaginal cancer</option>
              </optgroup>
              <optgroup label="urogynacology">
                <option value="uterine Prolapse">uterine Prolapse</option>
                <option value="stress urinary incontinence">stress urinary incontinence</option>
                <option value="deturser instability">deturser instability</option>
                <option value="fistula">fistula</option>
              </optgroup>
              <optgroup label="Contraceptive methods">
                <option value="Physiological Contraception">Physiological Contraception</option>
                <option value="Mechanical  and chemical Contraception">Mechanical and chemical Contraception</option>
                <option value="IUCD">IUCD</option>
                <option value="Hormonal  contraception">Hormonal contraception</option>
                <option value="Surgical sterilization">Surgical sterilization</option>
              </optgroup>
              <optgroup label="Infection">
                <option value="vag discharge">vag discharge</option>
                <option value="STDS">STDS</option>
                <option value="vulvovaginitis">vulvovaginitis</option>
                <option value="cevisitis">cevisitis</option>
                <option value="PID">PID</option>
                <option value="chronic granulomatous disease">chronic granulomatous disease</option>
                <option value="assisted conception  IUI">assisted conception IUI</option>
                <option value="assisted conception  ICSI">assisted conception ICSI</option>
              </optgroup>
              <optgroup label="Labor">
                <option value="normal Labor">normal Labor</option>
                <option value="Caesarean  section">Caesarean section</option>
              </optgroup>
              <optgroup label="procedures">
                <option value="Laporoscopy">Laporoscopy</option>
                <option value="hystroscope">hystroscope</option>
                <option value="Hsg">Hsg</option>
              </optgroup>
            </select> -->
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="published" class="form-label">published</label>
            <input type="checkbox" formControlName="published" class="form-control" />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end gap-2">
      <button class="btn btn-success" (click)="publishIcsi()">Add</button>
      <button class="btn btn-warning" (click)="modal.close()">Cancel</button>
    </div>
  </form>
</ng-template>
