.full-width-span {
	width: 100%;
	display: inline-block;
	height: 50px;
}

.mb-2rem {
	margin-bottom: 2rem !important;
}
.bold {
	font-weight: bold;
}
.material-input {
	background: none;
	color: #000;
	font-size: initial;
	display: block;
	display: inline-block;
	position: relative;
	border: none;
	outline: none;
	width: 40px;
	bottom: 1px;
	padding: 0;
	border-radius: 0;
	border-bottom: 1px solid #ced4da;
}
.wandbottom {
	width: 70px;
	bottom: 0px;
	padding-left: 5px;
	margin: 0px 1.5px;
}
.p-2px {
	padding-left: 5px;
}

.bottom-4 {
	bottom: 4px;
}
.moreWidth {
	width: 200px;
}

.width100px {
	width: 100px;
}

.red {
	font-family: Cambria;
	font-size: 9pt;
	color: #ff0000;
}

.overflow-x-scroll{
  overflow-x: scroll;
}
.width172px{
  display: inline-block;
  width: 172px;
}
.caption-side-top{
  caption-side: top;
}
