<div class="fullscreen">
  <div class="container form-container">
    <header class="d-flex align-items-center gap-3">
      <h1>Login</h1>
    </header>
    <div class="login">
      <form [formGroup]="logInForm">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
              <label for="">Email</label>
              <input
                class="form-control"
                formControlName="email"
                type="email"
              />
              <span
                *ngIf="
                  logInForm.get('email').hasError('required') &&
                  logInForm.get('email').touched
                "
                class="text-danger"
                >Required</span
              >

              <span
                *ngIf="
                  logInForm.get('email').hasError('email') &&
                  logInForm.get('email').touched
                "
                class="text-danger"
                >Must be and Email</span
              >
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
              <label for="">Password</label>
              <input
                class="form-control"
                formControlName="password"
                type="password"
              />
              <span
                *ngIf="
                  logInForm.get('password').hasError('required') &&
                  logInForm.get('password').touched
                "
                class="text-danger"
                >Required</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <a routerLink="/forgetPassword">Forget Password</a>
          </div>
        </div>
        <div class="form-group">
          <button
            class="btn btn-info"
            (click)="login()"
            [disabled]="this.logInForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
