<div class="container-fluid text-center" style="padding: 1rem 0rem;">
	<img width="140" src="assets/img/logoo-O-G-clinico.svg" alt="logo" />
</div>

<div class="bg-primary text-white mb-2">
	<nav class="container py-3">
		<div class="row">
			<div class="col-xl-11 col-lg-11 col-md-10 col-sm-10 col-8 ">
				<h2>My Clinic</h2>
			</div>
			<div class="col-xl-1  col-lg-1 col-md-2 col-sm-2  col-4 d-flex align-items-center">
				<img src="{{ imglink ? imglink : 'assets/img/doctor-avatar.png' }}" height="40" width="40" alt="" />
				<div ngbDropdown class="d-inline-block">
					<button class="btn" id="dropdownBasic1" ngbDropdownToggle></button>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic1">



						<a [routerLink]="'/myclinic/patient'" ngbDropdownItem>
							<fa-icon [icon]="faUsers"></fa-icon> Patient's files
						</a>

						<a [routerLink]="'/myclinic/calendar'" ngbDropdownItem>
							<fa-icon [icon]="faCalendar"></fa-icon> My Calendar
						</a>

						<a [routerLink]="'/myclinic/storage/'" ngbDropdownItem>
							<fa-icon [icon]="faCubes"></fa-icon> My Medical Stock
						</a>

						<a [routerLink]="'/myclinic/network/'" ngbDropdownItem>
							<fa-icon [icon]="faGlobe"></fa-icon> My Medical Network
						</a>

						<a [routerLink]="'/home'" ngbDropdownItem>
							<fa-icon [icon]="faHome"></fa-icon> Home
						</a>

						<a [routerLink]="'/doctors/home'" ngbDropdownItem>
							<fa-icon [icon]="faToolbox"></fa-icon> Doctor Tools
						</a>

						<a [routerLink]="'/myclinic/posts/'" ngbDropdownItem *ngIf="role === 'SuperAdmin'">
							<fa-icon [icon]="faStickyNote"></fa-icon> posts
						</a>



						<a [routerLink]="'/myclinic/doctors/'" ngbDropdownItem *ngIf="role === 'SuperAdmin'">
							<fa-icon [icon]="faUserMd"></fa-icon> doctors
						</a>

						<a [routerLink]="'/myclinic/editProfile/' + id" ngbDropdownItem>
							<fa-icon [icon]="faEdit"></fa-icon> Edit Profile
						</a>

						<button ngbDropdownItem class="d-flex align-items-center gap-5 text-info" (click)="logout()">
							<fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
						</button>

					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
