<app-navbar></app-navbar>

<!-- hero Section -->
<!-- <app-hero></app-hero> -->

<div class="container" *ngIf="isLoading">
  <div class="row">
    <div class="col">
      <img src="assets/img/loading.svg" alt="" />
    </div>
  </div>
</div>

<div class="container" *ngIf="!isLoading && !pager.length">
  <div class="row">
    <div class="col">
      <img src="assets/img/no.svg" alt="" />
    </div>
  </div>
</div>

<div
  dir="rtl"
  class="container"
  [ngClass]="{ 'fill-height': posts?.length === 0 }"
>
  <!-- <app-blog-cards [posts]="posts"></app-blog-cards> -->

  <div class="row">
    <div
      *ngFor="let post of posts"
      class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12"
    >
      <a class="heading-link text-align-right" [routerLink]="post._id">
        <div class="card-container position-relative">
          <img class="post-img" [src]="post.img" width="240" height="300" />
          <div class="content">
            <h4 class="title position-absolute">
              {{ post.title }}
            </h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <mat-paginator
    [pageSize]="pager.pageSize"
    [length]="pager.length"
    [pageSizeOptions]="[12]"
    [pageIndex]="pager.page - 1"
    (page)="handlePage($event)"
  ></mat-paginator>
</div>

<app-footer></app-footer>
