.post-header .title {
  font-size: 50px;
  line-height: 54px;
  margin-bottom: 30px;
  margin-top: 30px;
}


.post-header .post-information {
  display: flex;
  align-items: center;
}

.post-header .post-information p {
  display: inline-block;
  font-size: large;
  margin-bottom: 25px;
  margin-top: 25px;
}
.post-header div img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: inline-block;
}
.post-header {
  margin-bottom: 30px;
}
.post-container .post-content {
  width: 100%;
  word-break: break-all;
}

