<app-navbar></app-navbar>
<div class="fullpage my-3">
	<div class="container">
		<div class="post-header" class="text-right">
			<h1>{{ post?.title }}</h1>
			<!-- <img
				class="post-image"
				[src]="post?.img"
			/> -->
		</div>
		<article class="post-content fr-view" [innerHTML]="post?.content"></article>
	</div>
</div>
<app-footer></app-footer>
