.fullscreen {
    background-color: #8e44ad;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 50%;
    background-color: #fff;
    padding: 2rem 3rem;
    box-shadow: var(--box-shadow);
}

/* .form-group {
  width: 50%;a
  margin: 15px 2rem;
}
label {
  width: 33.33333%;
}

input {
  width: 77.77777%;
} */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* .flex {
  display: flex;
  align-items: center;
  gap: 20px;
} */

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8e44ad;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 1300px) {
    .form-group {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width:523px) {
    .form-container {
        width: 100%;
    }
}

@media (max-width:780px) {
    .fullscreen {
        height: -webkit-fill-available;
    }
}

@media screen and (max-width: 700px) {
    .form-group label {
        display: block;
        width: initial;
    }

    .form-group input {
        display: block;
        width: initial;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 500px) {
    .flex {
        flex-direction: column;
    }

    .form-container {
        padding: 2rem 1rem;
    }
}