<div class="fullscreen">
    <div class="container form-container">
        <header class="d-flex align-items-center gap-3">
            <h1 *ngIf="!isDone">New Password</h1>
        </header>
        <div>
            <form [formGroup]="resetPassword" *ngIf="!isDone">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">New Password</label>
                            <input class="form-control" formControlName="newPassword" type="text" />
                            <span *ngIf="
                            resetPassword.get('newPassword').hasError('required') &&
									resetPassword.get('newPassword').touched
								" class="text-danger">Required</span>

                            <span *ngIf="
									resetPassword.get('newPassword').hasError('minlength') &&
									resetPassword.get('newPassword').touched
								" class="text-danger">Must be and more than 6 Characters</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Confirm New Password</label>
                            <input class="form-control" formControlName="confirmPassword" type="text" />
                            <span *ngIf="
                            resetPassword.get('confirmPassword').hasError('required') &&
									resetPassword.get('confirmPassword').touched
								" class="text-danger">Required</span>

                            <span *ngIf="
									resetPassword.get('confirmPassword').hasError('minlength') &&
									resetPassword.get('confirmPassword').touched
								" class="text-danger">Must be and more than 6 Characters</span>
                        </div>
                    </div>
                    <div class="col">
                        <span class="text-danger" *ngIf="resetPassword.errors?.notmatched"> Passwords doesn't Match
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-info" (click)="reset()" [disabled]="resetPassword.invalid">
                        Save
                    </button>
                </div>
            </form>
            <div class="row" *ngIf="isDone">
                <div class="col text-center">
                    <div>
                        <img src="assets/img/check.png" alt="success">
                    </div>
                    <h2>Password Changed</h2>
                    <a routerLink="/home">Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>