<div class="container">
  <h2>All Doctors</h2>

  <ngx-datatable class="material" [rows]="doctorList" [scrollbarH]="true" rowHeight="auto" [externalPaging]="true"
    [count]="pager.total" [limit]="pager.pageSize" [columnMode]="ColumnMode.force" [headerHeight]="50"
    [footerHeight]="50" (page)="setPage($event)">
    <ngx-datatable-column name="Name">
      <ng-template let-item="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
        {{ item.firstName + ' ' + item.lastName }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Gender" prop="gender"></ngx-datatable-column>

    <ngx-datatable-column name="Country" prop="country"></ngx-datatable-column>

    <ngx-datatable-column name="City" prop="city"></ngx-datatable-column>

    <ngx-datatable-column name="Phone" prop="phone"></ngx-datatable-column>


    <ngx-datatable-column name="email address" prop="email"></ngx-datatable-column>

    <ngx-datatable-column name="Subscription Expiray Date" prop="subsExpDate" [width]="200">
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
        <span class="w-150px" title="Double click to edit" (dblclick)="editing[rowIndex + '-subsExpDate'] = true"
          *ngIf="!editing[rowIndex + '-subsExpDate']">
          {{ value | date:'dd-MM-YYYY' }}
        </span>
        <input type="date" class="form-control" autofocus (blur)="updateValue($event, 'subsExpDate', rowIndex)"
          *ngIf="editing[rowIndex + '-subsExpDate']">

      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="My Clinic" prop="inMyClinic">
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-inMyClinic'] = true"
          *ngIf="!editing[rowIndex + '-inMyClinic']">
          {{ value }}
        </span>
        <select autofocus (blur)="updateValue($event, 'inMyClinic', rowIndex)" *ngIf="editing[rowIndex + '-inMyClinic']"
          type="number" min="0" [value]="value" class="form-control">
          <option value="true">true</option>
          <option value="false">false</option>
        </select>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Doctor Tools" prop="enabled">
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-enabled'] = true"
          *ngIf="!editing[rowIndex + '-enabled']">
          {{ value }}
        </span>
        <select autofocus (blur)="updateValue($event, 'enabled', rowIndex)" *ngIf="editing[rowIndex + '-enabled']"
          type="number" min="0" [value]="value" class="form-control">
          <option value="true">true</option>
          <option value="false">false</option>
        </select>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>



</div>
