<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <button class="btn btn-info" (click)="openModal(addMedicalStorage)">
          Add To The Storage
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngx-datatable class="material" [scrollbarH]="true" [columnMode]="ColumnMode.force" [headerHeight]="50"
        [footerHeight]="50" [rows]="medicalStorage" rowHeight="auto">
        <ngx-datatable-column name="Medical Supply" prop="medicalSupply">
          <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
            <span class="full-width-span" title="Double click to edit"
              (dblclick)="editing[rowIndex + '-medicalSupply'] = true" *ngIf="!editing[rowIndex + '-medicalSupply']">
              {{ value }}
            </span>
            <input autofocus *ngIf="editing[rowIndex + '-medicalSupply']"
              (blur)="updateValue($event, 'medicalSupply', rowIndex)" type="text" [value]="value"
              class="form-control" />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Present Or Not" prop="presentOrNot">
          <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
            <span class="full-width-span" title="Double click to edit"
              (dblclick)="editing[rowIndex + '-presentOrNot'] = true" *ngIf="!editing[rowIndex + '-presentOrNot']">
              {{ value }}
            </span>
            <select class="form-control" autofocus *ngIf="editing[rowIndex + '-presentOrNot']"
              (blur)="updateValue($event, 'presentOrNot', rowIndex)" [value]="value">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Number" prop="number">
          <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
            <span class="full-width-span" title="Double click to edit" (dblclick)="editing[rowIndex + '-number'] = true"
              *ngIf="!editing[rowIndex + '-number']">
              {{ value }}
            </span>
            <input autofocus *ngIf="editing[rowIndex + '-number']" (blur)="updateValue($event, 'number', rowIndex)"
              type="number" min="0" [value]="value" class="form-control" />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="lastStoking" prop="lastStoking">
          <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
            <span class="full-width-span" title="Double click to edit"
              (dblclick)="editing[rowIndex + '-lastStoking'] = true" *ngIf="!editing[rowIndex + '-lastStoking']">
              {{ value }}
            </span>
            <input autofocus *ngIf="editing[rowIndex + '-lastStoking']"
              (blur)="updateValue($event, 'lastStoking', rowIndex)" type="text" [value]="value" class="form-control" />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions">
          <ng-template let-item="row" let-index="rowIndex" ngx-datatable-cell-template>
            <a placement="bottom" ngbTooltip="Delete" class="text-danger mb-0 mt-0 mx-2">
              <button class="btn" (click)="deleteMedicalStorage(item._id, index)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<ng-template #addMedicalStorage let-modal>
  <div class="card-header">
    <h2>Add To the Storage</h2>
  </div>
  <form [formGroup]="medicalStorageForm" class="p-3">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Medical Supply" class="form-label">Medical Supply</label>
          <input type="text" class="form-control" formControlName="medicalSupply" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Present Or Not" class="form-label">Present Or Not</label>
          <select class="form-control" formControlName="presentOrNot">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Number" class="form-label">Number</label>
          <input type="number" min="0" class="form-control" formControlName="number" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lastStoking" class="form-label">lastStoking</label>
          <input type="text" class="form-control" formControlName="lastStoking" />
        </div>
      </div>
    </div>
  </form>

  <div class="card-footer">
    <div class="d-flex align-items-center justify-content-end gap-3">
      <button class="btn btn-success" (click)="addToMedicalSupply()">
        Add
      </button>
      <button class="btn btn-danger" (click)="modal.close()">Cancel</button>
    </div>
  </div>
</ng-template>
