.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
}
table {
  border-collapse: collapse;
  border: 0;
  padding: 0.71428571rem;
}

th,
td {
  padding: 10px 5px;
  word-wrap: break-word;
}

th {
  background: rgb(51, 108, 251);
  color: #fff;
  border: 0.1px solid rgb(51, 108, 251);
}

td,
tr {
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  will-change: background, border, box-shadow, color;
  border: 0.1px solid black;
}

tr:hover {
  box-shadow: 0 0 10px rgb(0 0 0 / 12%);
  transform: scale(1);
}
.flex {
  display: flex;
  align-items: center;
  gap: 20px;
}
