

.Home {
  background-image: url('../../../../assets/img/hero.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.home-headline {
  color: #fff;
  font-size: 2rem;
}

/* @media (max-width:1280px){
  .Home{
    background-image: url('../../../../assets/img/pexels-piyapong-sayduang-4541398 (1).jpg');

  }
}

@media (max-width:768px){
  .Home{
    background-image: url('../../../../assets/img/pexels-piyapong-sayduang-4541398 (3).jpg');

  }
}



@media (max-width:640px){
  .Home{
    background-image: url('../../../../assets/img/pexels-piyapong-sayduang-4541398 (2).jpg');

  }
} */
