<!-- <div class="hero"> -->
<!-- <picture>
    <source media="(min-width: 1200px)" srcset="assets/img/hero1.png">
    <source media="(min-width: 1201px)" srcset="assets/img/hero2.png">
  </picture> -->
<!-- <img
    src="assets/img/pexels-pixabay-40568 (1).jpg"
    width="1400"
    height="760"
    alt=""
  /> -->
<!-- </div> -->

<div class="Home">
</div>

<!-- <img
  src="https://images.pexels.com/photos/6075003/pexels-photo-6075003.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
  srcset="https://images.pexels.com/photos/6075003/pexels-photo-6075003.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=150 150w, https://images.pexels.com/photos/6075003/pexels-photo-6075003.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300 300w, https://images.pexels.com/photos/6075003/pexels-photo-6075003.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=400 400w, https://images.pexels.com/photos/6075003/pexels-photo-6075003.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600 600w, https://images.pexels.com/photos/6075003/pexels-photo-6075003.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=800 800w,  1200w, https://images.pexels.com/photos/6075003/pexels-photo-6075003.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1600 1600w"
  sizes="(max-width: 650px) calc((100vw - 16px - 20px) / 2), (max-width: 900px) calc((100vw - 30px - 20px) / 2), (max-width: 1440px) calc((100vw - 60px - 60px) / 3), (max-width: 1600px) calc((100vw - 160px - 60px) / 3), calc((1600pxpx - 160px - 60px) / 3)"
  alt="Free Vaccine for COVID 19 near syringe with needle Stock Photo"
  class="spacing_noMargin__Q_PsJ MediaCard_image__ljFAl"> -->
