<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <div class="form-group">
        <label class="form-label">Patient Code:</label>
        <div class="d-flex gap-10px">
          <input type="text" class="form-control" #searchInput />
        </div>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="form-group">
        <label class="form-label">Patient Name:</label>
        <div class="d-flex gap-10px">
          <input type="text" class="form-control" #nameInput />
        </div>
      </div>
    </div>
    <div class="col-lg-2 d-flex align-items-center justify-content-center gap-3">
      <button class="btn btn-primary relative" (click)="search(searchInput.value, nameInput.value)">
        Search
      </button>

      <button class="btn btn-primary relative" (click)="getPatients('')">
        refresh
      </button>
    </div>
  </div>

  <div class="row my-2">
    <div class="col">
      <div class="form-group">
        <button class="btn btn-info" (click)="openModal(CreatePatient)">
          Add New Patient
        </button>
      </div>
    </div>
  </div>
  <ngx-datatable class="material" [rows]="patientsList" [scrollbarH]="true" rowHeight="auto" [externalPaging]="true"
    [count]="pager.total" [limit]="pager.pageSize" [columnMode]="ColumnMode.force" [headerHeight]="50"
    [footerHeight]="50" (page)="setPage($event)">
    <ngx-datatable-column name="Code" prop="code"></ngx-datatable-column>
    <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
    <ngx-datatable-column name="Last Visit" prop="lastVisit"></ngx-datatable-column>
    <ngx-datatable-column name="Address" prop="address"></ngx-datatable-column>
    <ngx-datatable-column name="Visit Number" prop="visitNumber"></ngx-datatable-column>

    <!-- <ngx-datatable-column name="Birth Date" prop="birthDate" [width]="215">
			<ng-template ngx-datatable-cell-template let-value="value">
				{{ value | date: 'dd/MM/yyyy' }}
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="Age" prop="age"></ngx-datatable-column>
		<ngx-datatable-column
			name="Address"
			prop="address"
		></ngx-datatable-column>

		<ngx-datatable-column
			name="Occupation"
			prop="occupation"
		></ngx-datatable-column>

		<ngx-datatable-column
			name="Martial Status"
			prop="martialStatus"
		></ngx-datatable-column> -->

    <ngx-datatable-column name="Actions" [width]="180">
      <ng-template let-item="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
        <a placement="bottom" ngbTooltip="Patient File" class="text-warning mb-0 mt-0 mx-2">
          <a [routerLink]=" item._id ">
            <fa-icon [icon]="faEye"></fa-icon>
          </a>
        </a>

        <a placement="bottom" ngbTooltip="Icsi" [routerLink]="'/myclinic/icsi/'+item._id"
          class="text-success mb-0 mt-0 mx-2">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
        <a placement="bottom" ngbTooltip="Delete" class="text-danger mb-0 mt-0 mx-2">
          <button class="btn text-danger" (click)="deletePatient(item._id, rowIndex)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<ng-template #CreatePatient let-modal>
  <div class="card-header">
    <h2>Creating a New Patient</h2>
  </div>
  <form class="p-3" [formGroup]="patientForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-goup">
          <label for="Code" class="form-label">Code</label>
          <input type="text" class="form-control" formControlName="code" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-goup">
          <label for="Name" class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="form-goup">
          <label for="Address" class="form-label">Address</label>
          <input type="text" class="form-control" formControlName="address" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-goup">
          <label for="lastVisit" class="form-label">Last Visit</label>
          <input type="date" class="form-control" formControlName="lastVisit" />
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-goup">
          <label for="visitNumber" class="form-label">Visit Number</label>
          <input type="number" min="0" class="form-control" formControlName="visitNumber" />
        </div>
      </div>
    </div>
  </form>
  <div class="row card-footer">
    <div class="d-flex flex-grow-1"></div>
    <div class="buttons d-flex align-items-center gap-3">
      <button class="btn btn-success w-100" (click)="createPatient(modal)" [disabled]="patientForm.invalid">
        Create
      </button>
      <button class="btn btn-warning w-100" (click)="modal.close('Save click')">
        Cancel
      </button>
    </div>
  </div>
</ng-template>
