/* .cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0px;
  gap: 20px;
}



.card-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 340px;
  height: 400px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 20px 0px;
  cursor: pointer;
}

.card-container img {
  width: 70%;
  height: auto;
}

.card-container .User-Auth {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card-container .User-Auth a {
  color: #fff;
  background-color: blueviolet;
  padding: 10px 20px;
  font-weight: 600;
  box-shadow: var(--box-shadow);
  border-radius: 7px;
}

.card-container .User-Auth a:active {
  transform: scale(0.9);
} */

.gap-10px {
  gap: 10px;
}

.relative{
  position: relative;
  top: 5px;
}
