<app-navbar></app-navbar>

<!-- <app-hero></app-hero> -->

<div class="container">
  <div class="cards-container row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-container shadow">
        <h2>Antenatal care</h2>
        <h2>الرعاية قبل الولادة</h2>
        <a
          routerLink="/blog"
          [queryParams]="{ page: 1, cat: 'Antenatal care' }"
        >
          <img src="assets/img/ant.jpg" alt="" />
        </a>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-container shadow">
        <h2>Diseases with pregnancy</h2>
        <h2>الأمراض المصاحبه للحمل</h2>
        <a
          routerLink="/blog"
          [queryParams]="{ page: 1, cat: 'Diseases with pregnancy' }"
        >
          <img src="assets/img/de.gif" alt="" />
        </a>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-container shadow">
        <h2>Fetology</h2>
        <h2>طب الجنين</h2>
        <a routerLink="/blog" [queryParams]="{ page: 1, cat: 'Fetology' }">
          <img src="assets/img/28269.webp" alt="" />
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-container shadow">
        <h2>Endocrinological disorders</h2>
        <h2>اضطرابات الهرمونات</h2>
        <a
          routerLink="/blog"
          [queryParams]="{ page: 1, cat: 'Endocrinological disorders' }"
        >
          <img src="assets/img/end.jpg" alt="" />
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-container shadow">
        <h2>Gynaecological Oncology</h2>
        <h2>علم الأورام النسائي</h2>
        <a
          routerLink="/blog"
          [queryParams]="{ page: 1, cat: 'Gynaecological Oncology' }"
        >
          <img src="assets/img/once.gif" alt="" />
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-container shadow">
        <h2>urogynacology</h2>
        <h2>طب حوض النساء والجراحة التجميلية</h2>
        <a routerLink="/blog" [queryParams]="{ page: 1, cat: 'urogynacology' }">
          <img src="assets/img/urogy.jpg" alt="" />
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-container shadow">
        <h2>Contraceptive methods</h2>
        <h2>وسائل منع الحمل</h2>
        <a
          routerLink="/blog"
          [queryParams]="{ page: 1, cat: 'Contraceptive methods' }"
        >
          <img src="assets/img/cont.jpg" alt="" />
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-container shadow">
        <h2>Infection</h2>
        <h2>الإلتهابات بالجهاز التناسلى الانثوى</h2>
        <a routerLink="/blog" [queryParams]="{ page: 1, cat: 'Infection' }">
          <img src="assets/img/infection.gif" alt="" />
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-container shadow">
        <h2>Labor</h2>
        <h2>الوالده) طبيعى – قيصرى)</h2>
        <a routerLink="/blog" [queryParams]="{ page: 1, cat: 'Labor' }">
          <img src="assets/img/labor.jpg" alt="" />
        </a>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card-container shadow">
        <h2>procedures</h2>
        <h2>اجراءات طبية</h2>
        <a routerLink="/blog" [queryParams]="{ page: 1, cat: 'procedures' }">
          <img src="assets/img/procedures.jpg" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
<!--
  Antenatal care
Diseases with pregnancy
Fetology
Endocrinological disorders
Gynaecological Oncology
urogynacology
Contraceptive methods
Infection
 Labor
procedures
-->
