<div class="container">
  <h2 class="text-center">Edit Profile</h2>
  <h3>Personal Data</h3>
  <form [formGroup]="doctorForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">First Name</label>
          <input type="text" class="form-control" formControlName="firstName" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Last Name</label>
          <input type="text" class="form-control" formControlName="lastName" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Gender</label>
          <select formControlName="gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">phone</label>
          <input type="text" formControlName="phone" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Country</label>
          <select formControlName="country" class="form-control" (change)="showCity($event)">
            <option value="" disabled selected>
              Select your Country
            </option>
            <option *ngFor="let country of countries" [value]="country.name + ',' + country.isoCode">
              {{ country.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">City</label>
          <select formControlName="city" class="form-control">
            <option value="" disabled selected>Select your City</option>
            <option [value]="city.name" *ngFor="let city of cites">
              {{ city.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">email</label>
          <input type="text" formControlName="email" class="form-control" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Speciality</label>
          <input type="text" formControlName="speciality" class="form-control" />
        </div>
      </div>
    </div>
    <h3>Clinic</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label"> Name</label>
          <input type="text" formControlName="clinicName" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label"> Address</label>
          <input type="text" formControlName="clinicAddress" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Facebook</label>
          <input type="text" formControlName="facebook" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Whatsapp</label>
          <input type="text" formControlName="whatsapp" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Qualifications</label>
          <input type="text" formControlName="qualifications" class="form-control" />
        </div>
      </div>



      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Services</label>
          <input type="text" formControlName="services" class="form-control" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group d-flex">
          <div>
            <label class="form-label">image</label>
            <br />
            <input type="file" accept="image/png, image/jpg, image/jpeg" (change)="onImageHandle($event)" />
          </div>
          <img [src]="imgLink" height="85" width="85" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Subspeciality</label>
          <select type="text" formControlName="subspeciality" class="form-control">
            <option value="Select Subspeciality" [disabled]="true" [selected]="true">Select Subspeciality</option>
            <option value="General">General</option>
            <option value="Antenatal care">Antenatal care</option>
            <option value="labor (normal or Caesarean section)">labor (normal or Caesarean section)</option>
            <option value="Fetology">Fetology</option>
            <option value="Endocrinology">Endocrinology</option>
            <option value="Gynaecological Oncology">Gynaecological Oncology</option>
            <option value="ASSISTED CONCEPTION">ASSISTED CONCEPTION</option>
            <option value="Urogynacology">Urogynacology</option>
            <option value="Laporoscopy">Laporoscopy</option>
            <option value="Hystroscope">Hystroscope</option>
            <option value="Infection">Infection</option>

          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <button class="btn btn-info" (click)="updateDoctor()">
            Save
          </button>
        </div>
      </div>
    </div>
  </form>

  <hr />

  <form [formGroup]="passwordForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Old Password</label>
          <input type="password" class="form-control" formControlName="oldPassword" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">Confirm Old Password</label>
          <input type="password" class="form-control" formControlName="oldPasswordConfirm" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">New Password</label>
          <input type="password" class="form-control" formControlName="newPassword" />
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <div class="form group">
        <button class="btn btn-success" [disabled]="!passwordForm.valid" (click)="updatePass()">
          Update
        </button>

      </div>
    </div>
  </div>
</div>
