<div class="container">
	<div class="row">
		<div class="col">
			<div class="form-group">
				<button class="btn btn-info" (click)="openModal(addMedicalNetwork)">
					Add To The Network
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<ngx-datatable
				class="material"
				[scrollbarH]="true"
				[columnMode]="ColumnMode.force"
				[headerHeight]="50"
				[footerHeight]="50"
				[rows]="medicalNetwork"
				rowHeight="auto"
			>
				<ngx-datatable-column name="name" prop="name">
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-rowIndex="rowIndex"
					>
						<span
							class="full-width-span"
							title="Double click to edit"
							(dblclick)="editing[rowIndex + '-name'] = true"
							*ngIf="!editing[rowIndex + '-name']"
						>
							{{ value }}
						</span>
						<input
							autofocus
							*ngIf="editing[rowIndex + '-name']"
							(blur)="updateValue($event, 'name', rowIndex)"
							type="text"
							[value]="value"
							class="form-control"
						/>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Speciality" prop="speciality">
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-rowIndex="rowIndex"
					>
						<span
							class="full-width-span"
							title="Double click to edit"
							(dblclick)="editing[rowIndex + '-speciality'] = true"
							*ngIf="!editing[rowIndex + '-speciality']"
						>
							{{ value }}
						</span>

						<input
							type="text"
							formControlName="speciality"
							class="form-control"
							autofocus
							*ngIf="editing[rowIndex + '-speciality']"
							(blur)="updateValue($event, 'speciality', rowIndex)"
							[value]="value"
						/>
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Communications" prop="communications">
					<ng-template
						ngx-datatable-cell-template
						let-value="value"
						let-rowIndex="rowIndex"
					>
						<span
							class="full-width-span"
							title="Double click to edit"
							(dblclick)="editing[rowIndex + '-communications'] = true"
							*ngIf="!editing[rowIndex + '-communications']"
						>
							{{ value }}
						</span>
						<input
							autofocus
							*ngIf="editing[rowIndex + '-communications']"
							(blur)="updateValue($event, 'communications', rowIndex)"
							type="text"
							[value]="value"
							class="form-control"
						/>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column name="Actions">
					<ng-template
						let-item="row"
						let-index="rowIndex"
						ngx-datatable-cell-template
					>
						<a
							placement="bottom"
							ngbTooltip="Delete"
							class="text-danger mb-0 mt-0 mx-2"
						>
							<button
								class="btn"
								(click)="deleteMedicalNetwork(item._id, index)"
							>
								<fa-icon [icon]="faTrash"></fa-icon>
							</button>
						</a>
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</div>
	</div>
</div>

<ng-template #addMedicalNetwork let-modal>
	<div class="card-header">
		<h2>Add To the Storage</h2>
	</div>
	<form [formGroup]="medicalNetworkForm" class="p-3">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="Medical Supply" class="form-label"
						>Medical Supply</label
					>
					<input type="text" class="form-control" formControlName="name" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="Speciality" class="form-label">Speciality</label>
					<input
						type="text"
						formControlName="speciality"
						class="form-control"
					/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="communications" class="form-label"
						>Communications</label
					>
					<input
						type="text"
						class="form-control"
						formControlName="communications"
					/>
				</div>
			</div>
		</div>
	</form>

	<div class="card-footer">
		<div class="d-flex align-items-center justify-content-end gap-3">
			<button class="btn btn-success" (click)="addToMedicalNetwork()">
				Add
			</button>
			<button class="btn btn-danger" (click)="modal.close()">Cancel</button>
		</div>
	</div>
</ng-template>
