.post-container {
  margin: 0 auto;
  height: fit-content;
  width: calc(100vw - 90px);
}

.post-header .title {
  font-size: 50px;
  line-height: 54px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.post-header .post-Image {
  display: block;
  width: 80%;
}

.post-header .post-information {
  display: flex;
  align-items: center;
}

.post-header .post-information p {
  display: inline-block;
  font-size: large;
  margin-bottom: 25px;
  margin-top: 25px;
}
.post-header div img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: inline-block;
}
.post-header {
  margin-bottom: 30px;
}
.post-container .post-content {
  width: 100%;
  word-break: break-all;
}

.form-group {
  width: 50%;
  margin: 15px 2rem;
}
label {
  width: 15%;
}

input {
  width: 300px;
}

table {
  border-collapse: collapse;
  border: 0;
  border-bottom: 2px solid #fff;
  padding: 0.71428571rem;
}

th,
td {
  padding: 10px 5px;
  word-wrap: break-word;
}

th {
  background: rgb(51, 108, 251);
  color: #fff;
  border: 0;
}

td,
tr {
  background: hsla(0, 0%, 92.2%, 0.3);
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  will-change: background, border, box-shadow, color;
}

tr:hover {
  box-shadow: 0 0 10px rgb(0 0 0 / 12%);
  transform: scale(1);
}

textarea {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  resize: none;
}
