<app-navbar></app-navbar>
<div class="container">
  <div class="post-header">
    <p class="title">{{ post?.title }}</p>
    <!-- <img class="post-Image" [src]="post?.img" alt="" /> -->
  </div>
  <article class="post-content" [innerHTML]="post?.body"></article>

  <div class="row" *ngIf="post?.drugType">
      <div class="col">
          <label for="My Prescription" class="form-label">My Prescription</label>
          <textarea class="form-control" (change)="save($event)" [value]="post?.myPrescription?.value" cols="30" rows="10"></textarea>
    </div>
  </div>
</div>

<app-footer></app-footer>

