<app-navbar></app-navbar>
<div class="container my-5" *ngIf="type === 'records'">
	<h2>{{ record?.records.title }}</h2>
	<div class="row">
		<div class="col-md-4">
			<label for="birth date" class="form-label label">Birth Date</label>
			<span>{{ record?.birthDate | date: 'yyyy-MM-dd' }}</span>
		</div>

		<div class="col-md-4">
			<label for="Martial Status" class="form-label label"
				>Martial Status</label
			>
			<span>{{ record?.martialStatus }}</span>
		</div>

		<div class="col-md-4">
			<label for="Partner's Birth Date" class="form-label label"
				>Partner's Birth Date</label
			>
			<span>{{ record?.records.partnerBirthDate | date: 'yyyy-MM-dd' }}</span>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<label for="Partner's Occupation" class="form-label label"
				>Partner's Occupation</label
			>
			<span>{{ record?.records.partnerOccupation }}</span>
		</div>

		<div class="col-md-4">
			<label for="Past History" class="form-label label">Past History</label>
			<div class="d-flex gap-2">
				<div class="form-check">
					<input
						class="form-check-input"
						type="checkbox"
						[checked]="record?.records.pastHistory.dm"
						[disabled]="true"
						value="dm"
					/>
					<label class="form-check-label">DM</label>
				</div>
				<div class="form-check">
					<input
						class="form-check-input"
						type="checkbox"
						[checked]="record?.records.pastHistory.hyt"
						[disabled]="true"
						value="hyt"
					/>
					<label class="form-check-label">HYT</label>
				</div>
				<div class="form-check">
					<input
						class="form-check-input"
						type="checkbox"
						[checked]="record?.records.pastHistory.bleedingDisorders"
						[disabled]="true"
						value="bleedingDisorders"
					/>
					<label class="form-check-label">Bleeding disorders</label>
				</div>
				<div class="form-check">
					<input
						class="form-check-input"
						type="checkbox"
						[checked]="record?.records.pastHistory.heartDisease"
						[disabled]="true"
						value="heartDisease"
					/>
					<label class="form-check-label">Heart disease</label>
				</div>
				<div class="form-check">
					<input
						class="form-check-input"
						type="checkbox"
						[checked]="record?.records.pastHistory.thyroidDisease"
						[disabled]="true"
						value="thyroidDisease"
					/>
					<label class="form-check-label">Thyroid disease</label>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<label for="Special Habits" class="form-label label"
				>Special Habits</label
			>
			<span>{{ record?.records.specialHabits }}</span>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<label for="Drug History" class="form-label label">Drug History</label>
			<span>{{ record?.records.drugHistory }}</span>
		</div>

		<div class="col-md-4">
			<label for="family History" class="form-label label"
				>family History</label
			>
			<div class="d-flex gap-2">
				<div class="form-check">
					<input
						class="form-check-input"
						type="checkbox"
						[checked]="record?.records.familyHistory.dm"
						[disabled]="true"
						value="dm"
					/>
					<label class="form-check-label">DM</label>
				</div>
				<div class="form-check">
					<input
						class="form-check-input"
						type="checkbox"
						[checked]="record?.records.familyHistory.hyt"
						[disabled]="true"
						value="hyt"
					/>
					<label class="form-check-label">HYT</label>
				</div>
				<div class="form-check">
					<input
						class="form-check-input"
						type="checkbox"
						[checked]="record?.records.familyHistory.consanguinity"
						[disabled]="true"
						value="consanguinity"
					/>
					<label class="form-check-label">Consanguinity</label>
				</div>
				<div class="form-check">
					<input
						class="form-check-input"
						type="checkbox"
						[checked]="record?.records.familyHistory.twins"
						[disabled]="true"
						value="twins"
					/>
					<label class="form-check-label">Twins</label>
				</div>
			</div>
		</div>
	</div>
	<hr />

	<h3>Surgerical history</h3>
	<table class="table">
		<thead>
			<th class="table-dark">Type</th>
			<th class="table-dark">Date</th>
			<th class="table-dark">Notes</th>
		</thead>
		<tbody>
			<tr *ngFor="let surgery of record?.records.surgeries">
				<td class="table-light">{{ surgery.type }}</td>
				<td class="table-light">{{ surgery.date | date: 'yyyy-MM-dd' }}</td>
				<td class="table-light">{{ surgery.notes }}</td>
			</tr>
		</tbody>
	</table>
	<hr />
	<h3>Contraceptive History</h3>
	<table class="table">
		<thead>
			<th class="table-dark">Method</th>
			<th class="table-dark">Duration</th>
			<th class="table-dark">Effects</th>
		</thead>
		<tbody>
			<tr *ngFor="let obj of record?.records.contraceptiveHistory">
				<td class="table-light">{{ obj.method }}</td>
				<td class="table-light">
					{{
						(obj.duration.from | date: 'yyyy-MM-dd') +
							' to ' +
							(obj.duration.to | date: 'yyyy-MM-dd')
					}}
				</td>
				<td class="table-light">{{ obj.effects }}</td>
			</tr>
		</tbody>
	</table>
	<hr />
	<h3>Visits</h3>
	<div class="overflow-x-scroll">
		<table class="table w-1.5">
			<thead>
				<th class="table-dark">Date</th>
				<th class="table-dark">Pregnant</th>
				<th class="table-dark">Reason Of Visit</th>
				<th class="table-dark">Complaint</th>
				<th class="table-dark">LMP</th>
				<th class="table-dark">W</th>
				<th class="table-dark">edd</th>
				<th class="table-dark">Weight</th>
				<th class="table-dark">BMI</th>
				<th class="table-dark">bp</th>
				<th class="table-dark">Pulse</th>
				<th class="table-dark">Temp</th>
				<th class="table-dark">O<sub _ngcontent-ybh-c212="">2</sub> Sat</th>
				<th class="table-dark">Investigation</th>
				<th class="table-dark">ttt</th>
				<th class="table-dark">Important Notes</th>
				<th class="table-dark">Next Visit</th>
			</thead>
			<tbody>
				<tr *ngFor="let obj of record?.records.visits">
					<td class="table-light">{{ obj.date | date: 'yyyy-MM-dd' }}</td>
					<td class="table-light">
						{{ obj.pregnant === true ? 'Yes' : 'No' }}
					</td>
					<td class="table-light">{{ obj.reasonOfVisit }}</td>
					<td class="table-light">{{ obj.complaint }}</td>
					<td class="table-light">
						{{ obj.lmp.numerator + '|' + obj.lmp.denominator }}
					</td>
					<td class="table-light">{{ obj.w }}</td>
					<td class="table-light">
						{{ obj.edd.numerator + '|' + obj.edd.denominator }}
					</td>
					<td class="table-light">{{ obj.weight }}</td>
					<td class="table-light">{{ obj.bmi }}</td>
					<td class="table-light">
						{{ obj.bp.numerator + '|' + obj.bp.denominator }}
					</td>
					<td class="table-light">{{ obj.pulse }}</td>

					<td class="table-light">{{ obj.temp }}</td>
					<td class="table-light">{{ obj.o2Sat }}</td>
					<td class="table-light">{{ obj.investigation }}</td>
					<td class="table-light">
						<img [src]="obj.ttt" width="80" height="80" alt="ttt" />
						<br />
						<button
							class="btn"
							*ngIf="obj.ttt"
							(click)="openModal(showImage, obj.ttt)"
						>
							Show Image
						</button>
					</td>
					<td class="table-light">
						<img
							[src]="obj.importantNotes"
							width="80"
							height="80"
							alt="ttt"
						/>
						<br />

						<button
							class="btn"
							*ngIf="obj.importantNotes"
							(click)="openModal(showImage, obj.importantNotes)"
						>
							Show Image
						</button>
					</td>
					<td class="table-light">
						{{ obj.nextVisit | date: 'yyyy-MM-dd' }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="container my-5" *ngIf="type === 'icsiRecords'">
	<h2>{{ record?.icsiRecords.title }}</h2>
	<div class="row">
		<div class="col-md-4">
			<label for="Birth Date" class="form-label label">Birth Date</label>
			<span>{{ record?.birthDate | date: 'yyyy-MM-dd' }}</span>
		</div>
		<div class="col-md-4">
			<label for="Martial Status" class="form-label label"
				>Martial Status</label
			>
			<span>{{ record?.martialStatus }}</span>
		</div>

		<div class="col-md-4">
			<label for="Partner's Birth Date" class="form-label label"
				>Partner's Birth Date</label
			>
			<span>{{
				record?.icsiRecords.partnersBirthDate | date: 'yyyy-MM-dd'
			}}</span>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<label for="Partner's Occupation" class="form-label label"
				>Partner's Occupation</label
			>
			<span>{{ record?.icsiRecords.partnersOccupation }}</span>
		</div>
		<div class="col-md-4">
			<label for="" class="form-label label">Previous(ICSI,IUI)</label>
			<div class="form-check">
				<input
					class="form-check-input"
					type="radio"
					[value]="false"
					[checked]="!record?.icsiRecords.previousICSIIUI"
					[disabled]="true"
				/>
				<label class="form-check-label">No</label>
			</div>
			<div class="form-check">
				<input
					class="form-check-input"
					type="radio"
					[value]="true"
					[checked]="record?.icsiRecords.previousICSIIUI"
					[disabled]="true"
				/>
				<label class="form-check-label">yes</label>
			</div>
		</div>
		<div class="col-md-4">
			<label for="" class="form-label label">Details</label>
			<span>{{ record?.icsiRecords.details }}</span>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<label for="" class="form-label label">Hysteroscopy conclusion</label>
			<span>{{ record?.icsiRecords.hysteroscopyConclusion }}</span>
		</div>
		<div class="col-md-4">
			<label for="" class="form-label label">3D U/S conclusion</label>
			<span>{{ record?.icsiRecords.threeDUSConclusion }}</span>
		</div>
		<div class="col-md-4">
			<label for="" class="form-label label">Category</label>
			<span>{{ record?.icsiRecords.category }}</span>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<label for="" class="form-label label">Protocol</label>
			<span>{{ record?.icsiRecords.protocol }}</span>
		</div>
		<div class="col-md-4">
			<label for="" class="form-label label">Type</label>
			<span>{{ record?.icsiRecords.opType }}</span>
		</div>
		<div class="col-md-4">
			<label for="" class="form-label label">Duration</label>
			<span>{{ record?.icsiRecords.duration }}</span>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<label for="" class="form-label label">M2</label>
			<span>{{ record?.icsiRecords.m2 }}</span>
		</div>
		<div class="col-md-4">
			<label for="" class="form-label label">OutCome</label>
			<span>{{ record?.icsiRecords.outCome }}</span>
		</div>
	</div>
	<h2>Laboratory Results</h2>
  <div class="overflow-x-scroll">
  <table class="table">
		<thead>
			<th
				class="table-dark"
				*ngFor="let item of record?.icsiRecords.laboratoryResults | keyvalue"
			>
				{{ item.key }}
			</th>
		</thead>
		<tbody>
			<tr>
				<td
					class="table-light"
					*ngFor="
						let item of record?.icsiRecords.laboratoryResults | keyvalue
					"
				>
					<div
						*ngIf="
							item.key === 'semenMobtility';
							then content;
							else other
						"
					></div>
					<ng-template #other>
						{{ item.value }}
					</ng-template>
					<ng-template #content>
						<span *ngFor="let subItem of item.value | keyvalue">
							{{ subItem.key + ' : ' + subItem.value }}
						</span>
					</ng-template>
				</td>
			</tr>
		</tbody>
	</table>
  </div>
	<h3>Visits</h3>
	<div class="overflow-x-scroll">
		<table class="table w-2.5">
			<thead>
				<tr>
					<th class="table-dark">Visit</th>
					<th class="table-dark">Date</th>
					<th class="table-dark">E2</th>
					<th class="table-dark">Invstigation FSH</th>
					<th class="table-dark">Invstigation LH</th>
					<th class="table-dark">Invstigation P</th>
					<th class="table-dark">Invstigation P Ratio</th>

					<th class="table-dark">U/S AFC</th>
					<th class="table-dark">U/S RT Ovary Size</th>
					<th class="table-dark">U/S LT Ovary Size</th>
					<th class="table-dark">U/S RT Ovary N</th>
					<th class="table-dark">U/S LT Ovary N</th>
					<th class="table-dark">U/S ET</th>

					<th class="table-dark">Drug</th>
					<th class="table-dark">Next Visit</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let record of record?.icsiRecords.visits">
					<td class="table-light" >{{ record?.visit }}</td>
					<td class="table-light">
						{{ record?.date | date: 'yyyy-MM-dd' }}
					</td>
					<td class="table-light">{{ record?.e2 }}</td>
					<td class="table-light">{{ record?.fsh }}</td>
					<td class="table-light">{{ record?.lh }}</td>
					<td class="table-light">{{ record?.p }}</td>
					<td class="table-light">{{ record?.pRatio }}</td>
					<td class="table-light">{{ record?.afc }}</td>
					<td class="table-light">{{ record?.rtOvarySize }}</td>
					<td class="table-light">{{ record?.ltOvarySize }}</td>
					<td class="table-light">{{ record?.rtOvaryN }}</td>
					<td class="table-light">{{ record?.ltOvaryN }}</td>
					<td class="table-light">{{ record?.et }}</td>
					<td class="table-light">{{ record?.drug }}</td>
					<td class="table-light">
						{{ record?.nextVisit | date: 'yyyy-MM-dd' }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<ng-template #showImage let-modal>
	<img [src]="imageInModal" alt="" />
</ng-template>

<app-footer></app-footer>
