<div class="fullscreen">
  <div class="container form-container">
    <header class="d-flex align-items-center gap-3">
      <h1 *ngIf="isLogin">Login</h1>
      <h1 *ngIf="!isLogin">Signup</h1>
      <label class="switch">
        <input
          class="form-control"
          type="checkbox"
          (change)="isLogin = !isLogin"
        />
        <span class="slider round"></span>
      </label>
    </header>
    <div class="login" *ngIf="isLogin">
      <form [formGroup]="logInForm">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
              <label for="">Email</label>
              <input
                class="form-control"
                formControlName="email"
                type="email"
              />
              <span
                *ngIf="
                  logInForm.get('email').hasError('required') &&
                  logInForm.get('email').touched
                "
                class="text-danger"
                >Required</span
              >
              <span
                *ngIf="
                  logInForm.get('email').hasError('email') &&
                  logInForm.get('email').touched
                "
                class="text-danger"
                >Must Be an email</span
              >
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
              <label for="">Password</label>
              <input
                class="form-control"
                formControlName="password"
                type="password"
              />
              <span
                *ngIf="
                  logInForm.get('password').hasError('required') &&
                  logInForm.get('password').touched
                "
                class="text-danger"
                >Required</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <a routerLink="/forgetPassword">Forget Password</a>
          </div>
        </div>
        <div class="form-group">
          <button
            class="btn btn-info"
            (click)="login()"
            [disabled]="this.logInForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
    </div>

    <div class="signup" *ngIf="!isLogin">
      <form [formGroup]="signUpForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">First Name</label>
              <input
                class="form-control"
                formControlName="firstName"
                type="text"
              />
              <span
                *ngIf="
                  signUpForm.get('firstName').hasError('required') &&
                  signUpForm.get('firstName').touched
                "
                class="text-danger"
                >Required</span
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Last Name</label>
              <input
                class="form-control"
                formControlName="lastName"
                type="text"
              />
              <span
                *ngIf="
                  signUpForm.get('lastName').hasError('required') &&
                  signUpForm.get('lastName').touched
                "
                class="text-danger"
                >Required</span
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Address</label>
              <input
                class="form-control"
                formControlName="address"
                type="text"
              />
              <span
                *ngIf="
                  signUpForm.get('address').hasError('required') &&
                  signUpForm.get('address').touched
                "
                class="text-danger"
                >Required</span
              >
            </div>
          </div>
          <div class="col-md-6">
            <label for="Gender" class="form-label">Gender</label>
            <select class="form-control" formControlName="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <span
              *ngIf="
                signUpForm.get('gender').hasError('required') &&
                signUpForm.get('gender').touched
              "
              class="text-danger"
              >Required</span
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Email</label>
              <input
                class="form-control"
                formControlName="email"
                type="email"
              />
              <span
                *ngIf="
                  signUpForm.get('email').hasError('required') &&
                  signUpForm.get('email').touched
                "
                class="text-danger"
                >Required</span
              >
              <span
                *ngIf="
                  signUpForm.get('email').hasError('email') &&
                  signUpForm.get('email').touched
                "
                class="text-danger"
                >Must Be an Email</span
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Password</label>
              <input
                class="form-control"
                formControlName="password"
                type="password"
              />
            </div>
            <span
              *ngIf="
                signUpForm.get('password').hasError('required') &&
                signUpForm.get('password').touched
              "
              class="text-danger"
              >Required</span
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="Country" class="form-label">Country</label>
            <select class="form-control" (change)="getCities(sel.value)" #sel>
              <option
                *ngFor="let country of countries"
                value="{{ country.isoCode + ',' + country.name }}"
              >
                {{ country.name }}
              </option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="city">City</label>
            <select class="form-control" formControlName="city">
              <option *ngFor="let city of cities" value="{{ city.name }}">
                {{ city.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="speciality mb-0">speciality</label>
            <input
              type="text"
              class="form-control"
              formControlName="speciality"
            />
            <span
              *ngIf="
                signUpForm.get('speciality').hasError('required') &&
                signUpForm.get('speciality').touched
              "
              class="text-danger"
              >Required</span
            >
          </div>
          <div class="col-md-6 d-flex align-items-end justify-content-end">
            <div class="m-0">
              <button
                class="btn btn-info"
                (click)="signup()"
                [disabled]="signUpForm.invalid"
              >
                Sign up
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
