.card-container {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: #0079ab;
  padding: 12px;
}

.width-full {
  width: 100%;
}

.card-header {
  text-align: center;
}

.card-header img {
  border-radius: 100%;
}

.card-body {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-body .informations {
  margin: 10px 0px;
}

.card-body .informations .label-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  color: #fff;
  background-color: deepskyblue;
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
}

.address {
  font-style: normal;
}

.brief {
  font-size: 16px;
  padding: 10px 8px;
}

.gap-10px {
  gap: 10px;
}

.font-bold {
  font-weight: 700;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width:1200px){

  .grid-container {
    grid-template-columns: 1fr 1fr ;
  }
  
}

@media (max-width:768px){
  .grid-container {
    grid-template-columns: 1fr;
  }
}