<app-navbar></app-navbar>


<div class="w-100 py-1" [ngClass]="{'fill-height':result.length === 0 }">
  <div class="container my-1">
    <div class="form-group">
      <div class="row">
        <div class="col-md-4 my-1">
          <select class="form-control" (change)="showCity($event)">
            <option value="" disabled selected>
              Select your Country
            </option>
            <option *ngFor="let country of countries" [value]="country.name + ',' + country.isoCode">
              {{ country.name }}
            </option>
          </select>
        </div>
        <div class="col-md-4 my-1">
          <select class="form-control" (change)="filterByCity($event)">
            <option value="" disabled selected>Select your City</option>
            <option [value]="city.name" *ngFor="let city of cites">
              {{ city.name }}
            </option>
          </select>
        </div>
        <div class="col-md-4 my-1 ">
          <div class="form-group">
            <select type="text" class="form-control">
              <option value="Select Subspeciality" [disabled]="true" [selected]="true">Select Subspeciality</option>
              <option value="General">General</option>
              <option value="Antenatal care">Antenatal care</option>
              <option value="labor (normal or Caesarean section)">labor (normal or Caesarean section)</option>
              <option value="Fetology">Fetology</option>
              <option value="Endocrinology">Endocrinology</option>
              <option value="Gynaecological Oncology">Gynaecological Oncology</option>
              <option value="ASSISTED CONCEPTION">ASSISTED CONCEPTION</option>
              <option value="Urogynacology">Urogynacology</option>
              <option value="Laporoscopy">Laporoscopy</option>
              <option value="Hystroscope">Hystroscope</option>
              <option value="Infection">Infection</option>

            </select>
          </div>
        </div>

        <div class="col-md-4 my-1 ">
          <div class="form-group">
            <input type="text" (change)="filterByName($event)" placeholder="Search By Name" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container" *ngIf="isLoading">
    <div class="row">
      <div class="col">
        <img src="assets/img/loading.svg" alt="">
      </div>
    </div>
  </div>

  <div class="container" *ngIf="!isLoading&&!pager.length">
    <div class="row">
      <div class="col">
        <img src="assets/img/no.svg" alt="">
      </div>
    </div>
  </div>

  <!-- cards container -->

  <div class="container grid-container">
    <div class="card-container shadow-sm" *ngFor="let d of result; let i = index">
      <header class="card-header">
        <div class="img-container">
          <img src="{{ d.img ? d.img : 'assets/img/doctor-avatar.png' }}" alt="" width="85" height="85" />
        </div>
        <div class="doctor-name">
          <h3>{{ d.firstName + ' ' + d.lastName }}</h3>
        </div>
      </header>
      <div class="card-body">
        <div class="informations">
          <div class="row gap-10px">
            <fa-icon [icon]="faMapMarked"></fa-icon>
            <span>{{ d.city + ',' + d.clinicAddress ? d.clinicAddress : '' }}</span>
          </div>
          <div class="row gap-10px">
            <fa-icon [icon]="faPhoneAlt"></fa-icon>
            <span>{{ d.phone }}</span>
          </div>
        </div>
      </div>
      <footer>
        <button class="btn btn-info width-full" (click)="open(DoctorTemplate, i)">
          Doctor File
        </button>
      </footer>
    </div>
  </div>


  <ng-template #DoctorTemplate>
    <div class="p-4">
      <div class="row">
        <div class="col-md-4 order-2">
          <img src="{{ doctor?.img ? doctor?.img : 'assets/img/doctor-avatar.png' }}" alt="" width="110" height="110" />
        </div>
        <div class="col-md-8 order-1 gap-10px">
          <div class="form-group d-flex gap-10px">
            <label for="Doctor" class="font-bold">Doctor: </label>
            <span>{{ doctor?.firstName + ' ' + doctor?.lastName }}</span>
          </div>
          <div class="form-group d-flex gap-10px">
            <label for="Specialty" class="font-bold">Specialty: </label>
            <span>{{ doctor?.speciality }}</span>
          </div>
          <div class="form-group d-flex gap-10px">
            <label for="qualifications" class="font-bold">qualifications:
            </label>
            <span>{{ doctor?.qualifications }}</span>
          </div>
          <div class="form-group d-flex gap-10px">
            <label for="clinic name" class="font-bold">Clinic Name: </label>
            <span>{{ doctor?.clinicName }}</span>
          </div>
          <div class="form-group d-flex gap-10px">
            <label for="Address" class="font-bold">Address: </label>
            <span>{{ doctor?.clinicAddress }}</span>
          </div>
          <div class="form-group d-flex gap-10px">
            <label for="Services" class="font-bold">Services:</label>
            <span>{{ doctor?.services }}</span>
          </div>
          <div class="form-group d-flex gap-10px">
            <fa-icon [icon]="faPhoneAlt"></fa-icon>

            <span>{{ doctor?.phone }}</span>
          </div>
          <div class="form-group d-flex gap-10px">
            <fa-icon [icon]="faWhatsapp"></fa-icon>

            <span>{{ doctor?.whatsapp }}</span>
          </div>
          <div class="form-group d-flex gap-10px">
            <fa-icon [icon]="faFacebook"></fa-icon>

            <a [href]="doctor?.facebook">{{ doctor?.facebook }}</a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <div class="container">
    <mat-paginator [pageSize]="pager.pageSize" [length]="pager.length" [pageSizeOptions]="[12]"
      (page)="handlePage($event)"></mat-paginator>
  </div>
  <app-footer></app-footer>
