.cards-container {
  padding: 19px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.card-container {
  height: fit-content;
  box-shadow: 1px 1px 7px rgba(25, 25, 26, 0.5);
  background-color: #fff;
  text-align: left;
  transition: all ease 1s;
  width: 350px;
}

.card-container:hover {
  box-shadow: 4px 5px 16px rgba(25, 25, 26, 0.5);
}

.card-header-container {
  margin: 12px 0px;
}
.description {
  margin: 0px 0px 15px 0px;
  padding: 5px;
}
.card-container .description span {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
button span {
  font-weight: 800;
  font-size: medium;
}
/* .content {
  padding: 10px;
} */

.content h4 {
  bottom: 0;
  left: 20px;
  color: #fff;
  z-index: 2;
}

.card-container::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
}

.card-container .post-img {
  width: 100%;
  z-index: 2;
  color: #fff;
}

.card-header-container p {
  font-size: 10px;
  color: #bcbcbc;
}

.heading-link {
  color: #fff;
}
.heading-link:hover {
  color: #bcbcbc;
  text-decoration: none;
}

:host ::ng-deep .mat-paginator-page-size-select {
  width: 27px !important;
}
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}

:host ::ng-deep .mat-select-value {
  color: #005999;
  font-weight: bold;
  font-size: 15px;
}
:host ::ng-deep .mat-select-arrow {
  color: #005999;
}
:host ::ng-deep .mat-option {
  padding: 0 !important;
}
:host ::ng-deep .mat-option-text {
  text-align: right;
}

@media screen and (max-width: 992px) {
  .card-container {
    margin: 0 auto;
  }
}
