<app-navbar></app-navbar>
<!-- <app-hero></app-hero> -->

<div class="container" *ngIf="isLoading">
  <div class="row">
    <div class="col">
      <img src="assets/img/loading.svg" alt="">
    </div>
  </div>
</div>

<div class="container" *ngIf="!isLoading&&!pager.length">
  <div class="row">
    <div class="col">
      <img src="assets/img/no.svg" alt="">
    </div>
  </div>
</div>

<div class="cards-container container fill-height">
  <div *ngFor="let post of posts" class="card-container position-relative">
    <img class="post-img" [src]="post.img" width="240" height="300" />
    <div class="content">
      <h4 class="title position-absolute">
        <a class="heading-link" [routerLink]="post._id">
          {{ post.title }}
        </a>
      </h4>
    </div>
  </div>
</div>
<div class="container">
  <mat-paginator [pageSize]="pager.pageSize" [pageIndex]="pager.page - 1" [length]="pager.length" [pageSizeOptions]="[12]"
    (page)="handlePage($event)"></mat-paginator>
</div>

<app-footer></app-footer>
