<app-navbar></app-navbar>

<!-- hero Section -->
<app-hero *ngIf="!isMobileDevice"></app-hero>

<div class="container">
	<div class="cards-container row">
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">

			<div class="card-container text-center shadow">
				<h2>Patient education</h2>
				<h2>تثقيف المرضى</h2>
				<a routerLink="/main">
					<img src="assets/img/patient.jpg" alt="" />
				</a>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">

			<div class="card-container text-center shadow">
				<h2>Contact Your Doctor</h2>
				<h2>تواصل مع طبيبك</h2>
				<a routerLink="/doctors">
					<img src="assets/img/contact.jpg" alt="" />
				</a>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">

			<div class="card-container text-center shadow">
				<h2>Nursing Assistant</h2>
				<h2>مساعدات التمريض</h2>
				<a routerLink="/nurse">
					<img src="assets/img/nurse.png" alt="" />
				</a>
			</div>

		</div>


		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">

			<div class="card-container text-center shadow">
				<h2>Flying patient files</h2>
				<a routerLink="/records">
					<img src="assets/img/flying.jpg" alt="" />
				</a>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">

			<div class="card-container text-center shadow">
				<h2 style="font-size:31px">OBS/GYNA Doctor Tools</h2>
				<img src="assets/img/doctor.jpg" alt="" />

				<br />
				<div class="User-Auth">
					<a routerLink="/auth/doctools" [queryParams]="{ login: true }">Login</a>
					<a routerLink="/auth/doctools" [queryParams]="{ login: false }">SignUp</a>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">

			<div class="card-container text-center shadow">
				<h2>My CLinic</h2>
				<a routerLink="/auth/clinicLogin">
					<img src="assets/img/myclinic.jpg" alt="" />
				</a>
			</div>
		</div>

	</div>


</div>

<app-footer></app-footer>
