<div class="container">
  <form [formGroup]="patientForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Code" class="form-label">Code</label>
          <input type="text" class="form-control" formControlName="code" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="name" class="form-label">name</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="address" class="form-label">address</label>
          <input type="text" class="form-control" formControlName="address" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Notes" class="form-label">Notes</label>
          <input type="text" class="form-control" formControlName="communication" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="last Visit" class="form-label">last Visit</label>
          <input type="date" class="form-control" formControlName="lastVisit" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Visit Number" class="form-label">Visit Number</label>
          <input type="number" min="0" class="form-control" formControlName="visitNumber" />
        </div>
      </div>
    </div>

    <h3>Personal Data</h3>
    <div class="row">


      <div class="col-md-6">
        <div class="form-group">
          <label for="Blood Group & RH" class="form-label">Blood Group & RH</label>
          <select class="form-control" formControlName="blood">
            <option value="A+">A⁺</option>
            <option value="A-">A⁻</option>
            <option value="B">B⁺</option>
            <option value="B">B⁻</option>
            <option value="AB+">AB⁺</option>
            <option value="AB-">AB⁻</option>
            <option value="o">o⁺</option>
            <option value="o">o⁻</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Birth Date" class="form-label">Birth Date</label>
          <input type="date" class="form-control" formControlName="birthDate" (change)="showAge($event, 'patient')" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Age" class="form-label">Age</label>
          <input type="number" min="0" disabled [value]="+patientAge" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="" class="form-label">Occupation</label>
          <input type="text" formControlName="occupation" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Marital Status" class="form-label">Marital Status</label>
          <select class="form-control" formControlName="martialStatus">
            <option value="Choose Martial Status">
              Choose Martial Status
            </option>
            <option selected svalue="Single">Single</option>
            <option value="Married 1st">Married 1st</option>
            <option value="Married 2nd">Married 2nd</option>
            <option value="divorced">Divorced</option>
            <option value="widow">Widow</option>
          </select>
        </div>
      </div>

      <div class="col-md-6" formGroupName="records" *ngIf="patientForm.get('martialStatus').value !== 'Single'">
        <div class="form-group">
          <label for="Marriage Date" class="form-label">Marriage Date</label>
          <input type="date" class="form-control" formControlName="marriageDate"
            (change)="showAge($event, 'marriage')" />
        </div>
      </div>

      <div class="col-md-6" formGroupName="records" *ngIf="patientForm.get('martialStatus').value !== 'Single'">
        <div class="form-group">
          <label for="Marriage Years" class="form-label">Marriage Years</label>
          <input type="number" min="0" disabled="true" [valueAsNumber]="marriageYears" class="form-control" />
        </div>
      </div>

      <div class="col-md-6" formGroupName="records" *ngIf="patientForm.get('martialStatus').value !== 'Single'">
        <div class="form-group">
          <label for="Partner Occupation" class="form-label">Partner Occupation</label>
          <input type="text" class="form-control" formControlName="partnerOccupation" />
        </div>
      </div>

      <div class="col-md-6" formGroupName="records" *ngIf="patientForm.get('martialStatus').value !== 'Single'">
        <div class="form-group">
          <label for="Partner's Birth Date" class="form-label">Partner's Birth Date</label>
          <input type="date" class="form-control" formControlName="partnerBirthDate"
            (change)="showAge($event, 'partner')" />
        </div>
      </div>

      <div class="col-md-6" formGroupName="records" *ngIf="patientForm.get('martialStatus').value !== 'Single'">
        <div class="form-group">
          <label for="Partner's Age" class="form-label">Partner's Age</label>
          <input type="number" min="0" disabled="true" [value]="+partAge" #parAge class="form-control" />
        </div>
      </div>

      <div class="col-md-6" formGroupName="records">
        <div class="form-group">
          <label for="Partner's Blood Group & RH" class="form-label">Partner's Blood Group & RH</label>
          <select class="form-control" formControlName="partnerblood">
            <option value="A+">A⁺</option>
            <option value="A-">A⁻</option>
            <option value="B">B⁺</option>
            <option value="B">B⁻</option>
            <option value="AB+">AB⁺</option>
            <option value="AB-">AB⁻</option>
            <option value="o">o⁺</option>
            <option value="o">o⁻</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col">
        <div class="form-group">
          <div class="form-group">
            <div class="d-flex gap-2 align-items-center py-1">
              <label class="form-label bold">contraceptive history</label>
              <button class="btn btn-info" (click)="openModal(contraceptiveHistory)">
                Add
              </button>
            </div>
            <ngx-datatable class="material" [scrollbarH]="true" rowHeight="auto"
              [count]="patient?.records?.contraceptiveHistory?.length" [columnMode]="ColumnMode.force"
              [headerHeight]="50" [footerHeight]="50" [rows]="patient?.records?.contraceptiveHistory">
              <ngx-datatable-column name="Method">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span title="Double click to edit" (dblclick)="editing[rowIndex + '-method'] = true"
                    *ngIf="!editing[rowIndex + '-method']">
                    {{ value }}
                  </span>

                  <select class="form-control" autofocus (blur)="
											updateContraceptiveHistory(
												$event,
												'method',
												rowIndex
											)
										" *ngIf="editing[rowIndex + '-method']" [value]="value">
                    <option value="Choose Method" selected disabled>
                      Choose Method
                    </option>
                    <option value="COC pills">COC pills</option>
                    <option value="Comboined injectable">
                      Comboined injectable
                    </option>
                    <option value="Transdermal patches">
                      Transdermal patches
                    </option>
                    <option value="Vaginal ring Pops">
                      Vaginal ring Pops
                    </option>
                    <option value="Po injectable">
                      Po injectable
                    </option>
                    <option value="Po implants">Po implants</option>
                    <option value="Cu IUCD">Cu IUCD</option>
                    <option value="Mirena">Mirena</option>
                  </select>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Duration">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span title="Double click to edit" (dblclick)="
											editing[rowIndex + '-duration'] = true
										" *ngIf="!editing[rowIndex + '-duration']">
                    {{
                    (value.from | date: 'yyyy-MM-dd') +
                    ' to ' +
                    (value.to | date: 'yyyy-MM-dd')
                    }}
                  </span>
                  <ng-template [ngIf]="editing[rowIndex + '-duration']">
                    <input autofocus [value]="value.from | date: 'yyyy-MM-dd'" type="date" class="form-control"
                      #toInputEL />
                    <strong>|</strong>
                    <input #fromInputEl autofocus [value]="value.to | date: 'yyyy-MM-dd'" type="date"
                      class="form-control" />

                    <button class="btn" (click)="
												updateContraceptiveHistory(
													$event,
													'duration',
													rowIndex,
													true,
													fromInputEl.value,
													toInputEL.value
												)
											">
                      save
                    </button>
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Effects" prop="effects">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span title="Double click to edit" (dblclick)="editing[rowIndex + '-effects'] = true"
                    *ngIf="!editing[rowIndex + '-effects']">
                    {{ value }}
                  </span>
                  <input autofocus (blur)="
											updateContraceptiveHistory(
												$event,
												'effects',
												rowIndex
											)
										" *ngIf="editing[rowIndex + '-effects']" type="text" [value]="value" class="form-control" />
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Actions">
                <ng-template let-item="row" let-index="rowIndex" ngx-datatable-cell-template>
                  <a placement="bottom" ngbTooltip="Delete" class="text-danger mb-0 mt-0 mx-2">
                    <button class="btn" (click)="
												deleteContraceptiveHistory(item._id, index)
											">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>

    <div formGroupName="records">
      <div class="row">
        <div class="col-md-8">
          <div class="d-flex">
            <label for="Special Habits" class="form-label mx-1 bold">Special Habits</label>
            <div class="form-check">
              <input type="radio" #m [checked]="checked" class="form-check-input" name="yesorno" (change)="cout()"
                value="Yes" />
              <div class="form-check-label">Yes</div>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" name="yesorno" (change)="cout()" value="No" />
              <div class="form-check-label">No</div>
            </div>
          </div>

          <textarea *ngIf="m.checked" rows="4" formControlName="specialHabits" class="form-control"></textarea>
        </div>

        <div class="col-md-4">
          <div class="form-group" formGroupName="pastHistory">
            <label for="Past Histroy" class="form-label bold">Past Histroy</label>
            <div class="form-check">
              <input class="form-check-input" formControlName="dm" type="checkbox" value="dm" />
              <label class="form-check-label">DM</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" formControlName="hyt" type="checkbox" value="hyt" />
              <label class="form-check-label">HYT</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" formControlName="bleedingDisorders" type="checkbox"
                value="bleedingDisorders" />
              <label class="form-check-label">Bleeding disorders</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" formControlName="heartDisease" type="checkbox" value="heartDisease" />
              <label class="form-check-label">Heart disease</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" formControlName="thyroidDisease" type="checkbox" value="thyroidDisease" />
              <label class="form-check-label">Thyroid disease</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col">
          <div class="form-group">
            <div class="d-flex gap-2 align-items-center py-1">
              <label class="form-label bold">Surgerical history</label>
              <button class="btn btn-info" (click)="openModal(AddSurgery)">
                Add
              </button>
            </div>
            <ngx-datatable class="material" [scrollbarH]="true" rowHeight="auto" [columnMode]="ColumnMode.force"
              [headerHeight]="50" [footerHeight]="50" [rows]="patient?.records?.surgeries"
              [count]="patient?.records?.surgeries?.length">
              <ngx-datatable-column name="Type">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span title="Double click to edit" (dblclick)="editing[rowIndex + '-type'] = true"
                    *ngIf="!editing[rowIndex + '-type']">
                    {{ value }}
                  </span>
                  <select class="form-control" [value]="value" *ngIf="editing[rowIndex + '-type']"
                    (blur)="updateSurgery($event, 'type', rowIndex)" autofocus>
                    <option value="Choose Type" selected disabled>
                      Choose Type
                    </option>
                    <option value="Appendectomy">Appendectomy</option>
                    <option value="Cesarean section">
                      Cesarean section
                    </option>
                    <option value="Cholecystectomy">
                      Cholecystectomy
                    </option>
                    <option value="Coronary artery bypass">
                      Coronary artery bypass
                    </option>
                    <option value="Breast biopsy">
                      Breast biopsy
                    </option>
                    <option value="Dilation and curettage">
                      Dilation and curettage
                    </option>
                    <option value="Carotid endarterectomy">
                      Carotid endarterectomy
                    </option>
                    <option value="Cataract surgery">
                      Cataract surgery
                    </option>
                    <option value="Debridement of wound burn or infection">
                      Debridement of wound burn or infection
                    </option>
                    <option value="Free skin graft">
                      Free skin graft
                    </option>
                    <option value="Hemorrhoidectomy">
                      Hemorrhoidectomy
                    </option>
                    <option value="Hysterectomy">Hysterectomy</option>
                    <option value="Hysteroscopy">Hysteroscopy</option>
                    <option value="Inguinal hernia repair">
                      Inguinal hernia repair
                    </option>
                    <option value="Low back pain surgery">
                      Low back pain surgery
                    </option>
                    <option value="Mastectomy">Mastectomy</option>
                    <option value="Partial colectomy">
                      Partial colectomy
                    </option>
                    <option value="Tonsillectomy">
                      Tonsillectomy
                    </option>
                  </select>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Date">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span title="Double click to edit" (dblclick)="editing[rowIndex + '-date'] = true"
                    *ngIf="!editing[rowIndex + '-date']">
                    {{ value | date: 'yyyy-MM-dd' }}
                  </span>
                  <input autofocus (blur)="updateSurgery($event, 'date', rowIndex)" *ngIf="editing[rowIndex + '-date']"
                    type="date" [value]="value | date: 'yyyy-MM-dd'" class="form-control" />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Notes" prop="notes">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span title="Double click to edit" (dblclick)="editing[rowIndex + '-notes'] = true"
                    *ngIf="!editing[rowIndex + '-notes']">
                    {{ value }}
                  </span>
                  <input autofocus (blur)="updateSurgery($event, 'notes', rowIndex)"
                    *ngIf="editing[rowIndex + '-notes']" type="text" [value]="value" class="form-control" />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions">
                <ng-template let-item="row" let-index="rowIndex" ngx-datatable-cell-template>
                  <a placement="bottom" ngbTooltip="Delete" class="text-danger mb-0 mt-0 mx-2">
                    <button class="btn" (click)="deleteSurgery(item._id, index)">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group d-flex align-items-center gap-2">
            <label for="Obstetric history" class="form-label bold">Obstetric history</label>
            <button class="btn btn-info" (click)="openModal(AddObstetric)">
              Add
            </button>
          </div>
          <div formGroupName="obstetricHistory">
            <div class="d-flex gap-5">
              <div class="d-flex">
                G
                <input type="number" min="0" formControlName="g" class="material-input" />
              </div>
              <div formGroupName="p" class="d-flex">
                <div class="d-flex">
                  P
                  <input type="number" min="0" formControlName="first" class="material-input" />
                </div>
                <div class="d-flex">
                  +
                  <input type="number" min="0" formControlName="second" class="material-input" />
                </div>
                <div class="d-flex">
                  +
                  <input type="number" min="0" formControlName="third" class="material-input" />
                </div>
              </div>
              <div class="d-flex">

                living
                <input type="number" min="0" formControlName="living" class="material-input" />
                male
                <input type="number" min="0" formControlName="male" class="material-input" />
                female
                <input type="number" min="0" formControlName="female" class="material-input" />
              </div>

            </div>
            <br><br><br>
            <ng-container *ngFor="
								let item of patient?.records.obstetricHistory.specific;let i =index;
							">
              <p>
                <select class="material-input wandbottom" (input)="dynamicWidth($event)" [value]="item?.rank"
                  (change)="updateObstetricHistory($event, 'rank',i)">
                  <option value="1st">1st</option>
                  <option value="2nd">2nd</option>
                  <option value="3rd">3rd</option>
                  <option value="4th">4th</option>
                  <option value="5th">5th</option>
                  <option value="6th">6th</option>
                  <option value="7th">7th</option>
                  <option value="8th">8th</option>
                  <option value="9th">9th</option>
                  <option value="10th">10th</option>
                  <option value="11th">11th</option>
                  <option value="12th">12th</option>
                  <option value="13th">13th</option>
                  <option value="14th">14th</option>
                  <option value="15th">15th</option>
                  <option value="16th">16th</option>
                  <option value="17th">17th</option>
                  <option value="18th">18th</option>
                  <option value="19th">19th</option>
                  <option value="20th">20th</option>
                  <option value="21st">21st</option>
                  <option value="22nd">22nd</option>
                  <option value="23rd">23rd</option>
                  <option value="24th">24th</option>
                  <option value="25th">25th</option>
                  <option value="26th">26th</option>
                  <option value="27th">27th</option>
                  <option value="28th">28th</option>
                  <option value="29th">29th</option>
                  <option value="30th">30th</option>
                </select>
                G
                <input type="text" class="material-input" (input)="dynamicWidth($event)" [value]="item?.w"
                  (blur)="updateObstetricHistory($event, 'w',i)" />
                W at time of termination
                <select class="material-input wandbottom" (input)="dynamicWidth($event)" [value]="item?.number"
                  (blur)="updateObstetricHistory($event, 'number',i)">
                  <option value="Single">Single</option>
                  <option value="Twins">Twins</option>
                </select>
                <select class="material-input wandbottom moreWidth" (input)="dynamicWidth($event)"
                  [value]="item?.modeOfTermination" (change)="
										updateObstetricHistory(
											$event,
											'modeOfTermination',
                      i
										)
									">
                  <option value="Labor N">Labor N</option>
                  <option value="Labor CS">Labor CS</option>
                  <option value="Abortion Spontanious">
                    Abortion Spontanious
                  </option>
                  <option value="Abortion D&C">Abortion D&C</option>
                  <option value="VM">VM</option>
                  <option value="Ectopic Nointervention">
                    Ectopic Nointervention
                  </option>
                  <option value="Ectopic Medical">
                    Ectopic Medical
                  </option>
                  <option value="Ectopic Salpingostomy">
                    Ectopic Salpingostomy
                  </option>
                </select>
                year

                <input type="date" (input)="dynamicWidth($event)" class="form-control width172px"
                  [value]="item?.year | date:'yyyy-MM-dd'" (blur)="updateObstetricHistory($event, 'year',i)" />

                <label for="Notes" class="form-label bold">Notes:</label>
                &nbsp; &nbsp;
                <label for="Anaesthesia Note" (input)="dynamicWidth($event)" class="form-label">Anaesthesia
                  Note</label>
                <input type="text" (input)="dynamicWidth($event)"
                  (change)="updateObstetricHistory($event,'anaesthesiaNote',i)"
                  class=" material-input wandbottom width100px" [value]="item?.anaesthesiaNote" />

                <label for="Operative Note" class="form-label">Operative Note</label>
                <input type="text" (input)="dynamicWidth($event)"
                  (change)="updateObstetricHistory($event,'operativeNote',i)" [value]="item?.operativeNote"
                  class="material-input wandbottom width100px" />

                <label for="Complication Note" class="form-label">Complication Occurred</label>
                <input type="text" (input)="dynamicWidth($event)"
                  (change)="updateObstetricHistory($event,'complicationOccurred',i)"
                  [value]="item?.complicationOccurred" class="material-input wandbottom width100px " />

                <label for="Baby Weight" class="form-label">Baby Weight</label>
                <input type="number" min="0" (input)="dynamicWidth($event)"
                  (change)="updateObstetricHistory($event,'babyWeight',i)" [value]="item?.babyWeight"
                  class="material-input wandbottom " />
                <label for="HG" class="form-label">HG </label>
                <input type="number" min="0" (input)="dynamicWidth($event)"
                  (change)="updateObstetricHistory($event,'hg.before',i)" class="material-input wandbottom "
                  [value]="item?.hg.before" />
                &nbsp;

                <input type="number" min="0" (input)="dynamicWidth($event)"
                  (change)="updateObstetricHistory($event,'hg.after',i)" class="material-input wandbottom "
                  [value]="item?.hg.after" />

                <label for="BP" class="form-label">BP </label>
                <input type="text" (input)="dynamicWidth($event)"
                  (change)="updateObstetricHistory($event,'bp.before',i)" class="material-input wandbottom "
                  [value]="item?.bp.before" />
                &nbsp;

                <input type="text" (input)="dynamicWidth($event)" (change)="updateObstetricHistory($event,'bp.after',i)"
                  class="material-input wandbottom " [value]="item?.bp.after" />

                <button class="btn btn-danger" (click)="deleteObstetricHistory(item._id)">
                  delete
                </button>
              </p>
            </ng-container>
          </div>

        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="Drug History" class="form-label bold">Drug Histroy</label>
            <textarea rows="4" class="form-control" formControlName="drugHistory"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" formGroupName="familyHistory">
            <label for="Family Histroy" class="form-label bold">Family Histroy</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="consanguinity" formControlName="consanguinity" />
              <label class="form-check-label">consanguinity</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="dm" formControlName="dm" />
              <label class="form-check-label">DM</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="hyt" formControlName="hyt" />
              <label class="form-check-label">HYT</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="cfmf" formControlName="cfmf" />
              <label class="form-check-label">CFMF</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="twins" formControlName="twins" />
              <label class="form-check-label">Twins</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col">
        <div class="form-group">
          <div class="d-flex gap-2 align-items-center py-1">
            <label class="form-label bold">Visits</label>
            <button class="btn btn-info" (click)="openModal(visits)">
              Add
            </button>
          </div>
        </div>
        <ngx-datatable class="material" [scrollbarH]="true" rowHeight="auto" [count]="patient?.records?.visits?.length"
          [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [rows]="patient?.records?.visits">
          <ngx-datatable-column name="Date">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit" (dblclick)="editing[rowIndex + '-date'] = true"
                *ngIf="!editing[rowIndex + '-date']">
                {{ value | date: 'yyyy-MM-dd' }}
              </span>
              <input autofocus (blur)="updateValue($event, 'date', rowIndex)" *ngIf="editing[rowIndex + '-date']"
                type="date" [value]="value | date: 'yyyy-MM-dd'" class="form-control" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="pregnant">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit"
                (dblclick)="editing[rowIndex + '-pregnant'] = true" *ngIf="!editing[rowIndex + '-pregnant']">
                {{ value === true ? 'Yes' : 'No' }}
              </span>
              <select class="form-control" autofocus (blur)="updateValue($event, 'pregnant', rowIndex)"
                *ngIf="editing[rowIndex + '-pregnant']" [value]="value">
                <option value="true" selected>Yes</option>
                <option value="false">No</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Reason Of Visit">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit"
                (dblclick)="editing[rowIndex + '-reasonOfVisit'] = true" *ngIf="!editing[rowIndex + '-reasonOfVisit']">
                {{ value }}
              </span>
              <ng-multiselect-dropdown autofocus [placeholder]="'Select Reasons Of Visit'" [data]="ReasonsList"
                [settings]="dropdownSettings" [(ngModel)]="selectedReasons" [ngModelOptions]="{standalone: true}"
                (onDropDownClose)="updateDropDownValues('reasonOfVisit', rowIndex)"
                (onSelect)="isOtherSelected($event,'reasonOfVisit')"
                (onDeSelect)="isOtherUnSelected($event,'reasonOfVisit')" *ngIf="editing[rowIndex + '-reasonOfVisit']">

              </ng-multiselect-dropdown>
              <!-- <select class="form-control" (blur)="updateValue($event, 'reasonOfVisit', rowIndex)"
                *ngIf="editing[rowIndex + '-reasonOfVisit']" [value]="value" multiple>
                <option value="antenatal follow up">
                  antenatal follow up
                </option>
                <option value="infertility">infertility</option>
                <option value="bleeding">bleeding</option>
                <option value="infection">infection</option>
                <option value="pelvic pain">pelvic pain</option>
                <option value="swelling">swelling</option>
                <option value="contraception">contraception</option>
              </select> -->
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Complaint">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit"
                (dblclick)="editing[rowIndex + '-complaint'] = true" *ngIf="!editing[rowIndex + '-complaint']">
                {{ value }}
              </span>

              <ng-multiselect-dropdown [placeholder]="'Select Complaint'" [data]="complaintList"
                [settings]="dropdownSettings" (onDropDownClose)="updateDropDownValues('complaint', rowIndex)"
                [(ngModel)]="selectedComplains" [ngModelOptions]="{standalone: true}"
                *ngIf="editing[rowIndex + '-complaint']" (onSelect)="isOtherSelected($event,'complaint')"
                (onDeSelect)="isOtherUnSelected($event,'complaint')">
              </ng-multiselect-dropdown>
              <!-- <select class="form-control" autofocus (blur)="updateValue($event, 'complaint', rowIndex)"
                *ngIf="editing[rowIndex + '-complaint']" [value]="value" multiple>
                <option value="infertility">infertility</option>
                <option value="Prolapse">Prolapse</option>
                <option value="bleeding">bleeding</option>
                <option value="infection">infection</option>
                <option value="pelvic pain">pelvic pain</option>
                <option value="swelling">swelling</option>
                <option value="Dyspareunia">Dyspareunia</option>
                <option value="Urinary incontinence Gastrointestinal complaints">
                  Urinary incontinence Gastrointestinal complaints
                </option>
                <option value="Respiratory complaints">
                  Respiratory complaints
                </option>
                <option value="Urological complaint">
                  Urological complaint
                </option>
                <option value="Vascular complaint">
                  Vascular complaint
                </option>
                <option value="Musculoskeletal complaints">
                  Musculoskeletal complaints
                </option>
                <option value="Cutaneous  complaints">
                  Cutaneous complaints
                </option>
                <option value="precocious puberty">
                  precocious puberty
                </option>
                <option value="Delayed Puberty">Delayed Puberty</option>
                <option value="Menopause">Menopause</option>
                <option value="Bartholin Cyst/Abscess Ulcers of the vulva vaginal cysts">
                  Bartholin Cyst/Abscess Ulcers of the vulva vaginal
                  cysts
                </option>
              </select> -->
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="LMP" prop="lmp">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit" (dblclick)="editing[rowIndex + '-lmp'] = true"
                *ngIf="!editing[rowIndex + '-lmp']">
                {{ value | date: 'yyyy-MM-dd' }}
              </span>
              <input type="date" class="form-control" autofocus (blur)="updateValue($event, 'lmp', rowIndex)"
                *ngIf="editing[rowIndex + '-lmp']" [value]="value | date: 'yyyy-MM-dd'" />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Weeks" prop="lmp">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit">
                {{value | differenceinweeks}}
              </span>

            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="w">
						<ng-template
							let-value="value"
							let-rowIndex="rowIndex"
							ngx-datatable-cell-template
						>
							<span class="full-span-width"
								title="Double click to edit"
								(dblclick)="editing[rowIndex + '-w'] = true"
								*ngIf="!editing[rowIndex + '-w']"
							>
								{{ value }}
							</span>
							<input
								type="text"
								class="form-control"
								autofocus
								(blur)="updateValue($event, 'w', rowIndex, '')"
								*ngIf="editing[rowIndex + '-w']"
								[value]="value"
							/>
						</ng-template>
					</ngx-datatable-column> -->
          <ngx-datatable-column name="EDD" prop="edd">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit" (dblclick)="editing[rowIndex + '-edd'] = true"
                *ngIf="!editing[rowIndex + '-edd']">
                {{ value | date: 'yyyy-MM-dd' }}
              </span>
              <input type="date" class="form-control" autofocus (blur)="updateValue($event, 'edd', rowIndex)"
                *ngIf="editing[rowIndex + '-edd']" [value]="value | date: 'yyyy-MM-dd'" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="weight">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit"
                (dblclick)="editing[rowIndex + '-weight'] = true" *ngIf="!editing[rowIndex + '-weight']">
                {{ value }}
              </span>
              <input type="text" class="form-control" autofocus (blur)="updateValue($event, 'weight', rowIndex)"
                *ngIf="editing[rowIndex + '-weight']" [value]="value" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="bmi" prop="bmi">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit" (dblclick)="editing[rowIndex + '-bmi'] = true"
                *ngIf="!editing[rowIndex + '-bmi']">
                {{ value }}
              </span>
              <input type="text" class="form-control" autofocus (blur)="updateValue($event, 'bmi', rowIndex)"
                *ngIf="editing[rowIndex + '-bmi']" [value]="value" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="bp">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit" (dblclick)="editing[rowIndex + '-bp'] = true"
                *ngIf="!editing[rowIndex + '-bp']">
                {{ value.numerator + ' | ' + value.denominator }}
              </span>
              <ng-template [ngIf]="editing[rowIndex + '-bp' ]">

                <input type="number" class="form-control" #numerator autofocus [value]="value.numerator" />
                <span>
                  |
                </span>
                <input type="number" class="form-control" #denominator autofocus [value]="value.denominator">

                <button class="btn"
                  (click)="updateBp('bp',rowIndex,numerator.valueAsNumber,denominator.valueAsNumber)">Update</button>
              </ng-template>

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="notes">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit"
                (dblclick)="editing[rowIndex + '-notes'] = true" *ngIf="!editing[rowIndex + '-notes']">
                {{ value }}
              </span>
              <input type="text" class="form-control" autofocus (blur)="updateValue($event, 'notes', rowIndex)"
                *ngIf="editing[rowIndex + '-notes']" [value]="value" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="temp">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit" (dblclick)="editing[rowIndex + '-temp'] = true"
                *ngIf="!editing[rowIndex + '-temp']">
                {{ value }}
              </span>
              <input type="text" class="form-control" autofocus (blur)="updateValue($event, 'temp', rowIndex)"
                *ngIf="editing[rowIndex + '-temp']" [value]="value" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="O2 sat">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit"
                (dblclick)="editing[rowIndex + '-o2Sat'] = true" *ngIf="!editing[rowIndex + '-o2Sat']">
                {{ value }}
              </span>
              <input type="text" class="form-control" autofocus (blur)="updateValue($event, 'o2Sat', rowIndex)"
                *ngIf="editing[rowIndex + '-o2Sat']" [value]="value" />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Treatment">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit"
                (dblclick)="editing[rowIndex + '-treatment'] = true" *ngIf="!editing[rowIndex + '-treatment']">
                {{ value }}
              </span>
              <input type="text" class="form-control" autofocus (blur)="updateValue($event, 'treatment', rowIndex)"
                *ngIf="editing[rowIndex + '-treatment']" [value]="value" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Investigation">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span class="full-span-width" title="Double click to edit"
                (dblclick)="editing[rowIndex + '-investigation'] = true" *ngIf="!editing[rowIndex + '-investigation']">
                {{ value }}
              </span>
              <ng-multiselect-dropdown [placeholder]="'Select investigation'"
                (onDropDownClose)="updateDropDownValues('investigation', rowIndex)" [(ngModel)]="selectedInvestigation"
                [ngModelOptions]="{standalone: true}" [data]="investigationList" [settings]="dropdownSettings"
                *ngIf="editing[rowIndex + '-investigation']">
              </ng-multiselect-dropdown>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Upload" prop="upload">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-upload'] = true"
                *ngIf="!editing[rowIndex + '-upload']">
                <img src="{{ value }}" width="50" height="50" />
                <br />
                <span (click)="openModal(showImage, value)" *ngIf="value">
                  show Image</span>
              </span>
              <input type="file" accept="image/png, image/jpg, image/jpeg" (change)="
									updateValue($event, 'upload', rowIndex, '', true)
								" *ngIf="editing[rowIndex + '-upload']" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Next Visit">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-nextVisit'] = true"
                *ngIf="!editing[rowIndex + '-nextVisit']">
                {{ value | date: 'yyyy-MM-dd' }}
              </span>
              <input type="date" class="form-control" autofocus (blur)="updateValue($event, 'nextVisit', rowIndex)"
                *ngIf="editing[rowIndex + '-nextVisit']" [value]="value | date: 'yyyy-MM-dd'" />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Actions">
            <ng-template let-item="row" let-index="rowIndex" ngx-datatable-cell-template>
              <a placement="bottom" ngbTooltip="Delete" class="text-danger mb-0 mt-0 mx-2">
                <button class="btn" (click)="deleteVisit(item._id, index)">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>

    <div class="row my-5">
      <div class="col form-group d-flex justify-content-end gap-2">
        <button class="btn btn-success" (click)="updatePatient()">
          Save
        </button>
        <button class="btn btn-success" (click)="openModal(publish)">
          Send to ( flying patient files )
        </button>
      </div>
    </div>
  </form>
</div>

<ng-template #AddSurgery let-modal>
  <div class="card-header">
    <h2>Adding a Surgery</h2>
  </div>
  <form class="p-3" [formGroup]="surgeryForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-goup">
          <label for="Address" class="form-label">Type</label>
          <select class="form-control" formControlName="type">
            <option value="Choose Type" selected disabled>
              Choose Type
            </option>
            <option value="Appendectomy">Appendectomy</option>
            <option value="Cesarean section">Cesarean section</option>
            <option value="Cholecystectomy">Cholecystectomy</option>
            <option value="Coronary artery bypass">
              Coronary artery bypass
            </option>
            <option value="Breast biopsy">Breast biopsy</option>
            <option value="Dilation and curettage">
              Dilation and curettage
            </option>
            <option value="Carotid endarterectomy">
              Carotid endarterectomy
            </option>
            <option value="Cataract surgery">Cataract surgery</option>
            <option value="Debridement of wound burn or infection">
              Debridement of wound burn or infection
            </option>
            <option value="Free skin graft">Free skin graft</option>
            <option value="Hemorrhoidectomy">Hemorrhoidectomy</option>
            <option value="Hysterectomy">Hysterectomy</option>
            <option value="Hysteroscopy">Hysteroscopy</option>
            <option value="Inguinal hernia repair">
              Inguinal hernia repair
            </option>
            <option value="Low back pain surgery">
              Low back pain surgery
            </option>
            <option value="Mastectomy">Mastectomy</option>
            <option value="Partial colectomy">Partial colectomy</option>
            <option value="Tonsillectomy">Tonsillectomy</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-goup">
          <label for="Date" class="form-label">Date</label>
          <input type="date" class="form-control" formControlName="date" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-goup">
          <label for="notes" class="form-label">Notes</label>
          <textarea class="form-control" cols="30" rows="10" formControlName="notes"></textarea>
        </div>
      </div>
    </div>
  </form>
  <div class="row card-footer">
    <div class="d-flex flex-grow-1"></div>
    <div class="buttons d-flex align-items-center gap-2">
      <button class="btn btn-success w-100" [disabled]="surgeryForm.invalid" (click)="addSurgery(modal)">
        Create
      </button>
      <button class="btn btn-warning w-100" (click)="modal.close('Save click')">
        Cancel
      </button>
    </div>
  </div>
</ng-template>

<ng-template #contraceptiveHistory let-modal>
  <div class="card-header">
    <h2>Creating a Contraceptive History</h2>
  </div>
  <form class="p-3" [formGroup]="contraceptiveHistoryFrom">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Address" class="form-label">Method </label>
          <div>
            <select class="form-control mb-2rem" formControlName="method">
              <option value="Choose Method" selected disabled>
                Choose Method
              </option>
              <option value="COC pills">COC pills</option>
              <option value="Comboined injectable">
                Comboined injectable
              </option>
              <option value="Transdermal patches">
                Transdermal patches
              </option>
              <option value="Vaginal ring">
                Vaginal ring
              </option>
              <option value="Pops">Pops</option>
              <option value="Po injectable">Po injectable</option>
              <option value="Po implants">Po implants</option>
              <option value="Cu IUCD">Cu IUCD</option>
              <option value="Mirena">Mirena</option>
            </select>
            <label for="Effects" class="form-label">Effects</label>
            <input type="text" name="" id="" class="form-control" formControlName="effects" />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" formGroupName="duration">
          <label for="Date" class="form-label">Duration</label>
          <div>
            <label for="From" class="form-label">From</label>
            <input type="date" class="form-control" formControlName="from" />
            <label for="To" class="form-label">To</label>
            <input type="date" class="form-control" formControlName="to" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
    </div>
  </form>
  <div class="row card-footer">
    <div class="d-flex flex-grow-1"></div>
    <div class="buttons d-flex align-items-center gap-2">
      <button class="btn btn-success w-100" (click)="addContraceptiveHistory(modal)"
        [disabled]="contraceptiveHistoryFrom.invalid">
        Create
      </button>
      <button class="btn btn-warning w-100" (click)="modal.close('Save click')">
        Cancel
      </button>
    </div>
  </div>
</ng-template>

<ng-template #visits let-modal>
  <div class="card-header">
    <h2>Add a new Visit</h2>
  </div>
  <form [formGroup]="visitsForm">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="Date" class="form-label">Date</label>
            <input type="date" class="form-control" formControlName="date" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="Pregnant" class="form-label">pregnant</label>
            <select class="form-control" formControlName="pregnant">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="Reason Of Visit" class="form-label">Reason Of Visit</label>
            <ng-multiselect-dropdown [placeholder]="'Select Reasons Of Visit'" [data]="ReasonsList"
              [settings]="dropdownSettings" formControlName="reasonOfVisit"
              (onSelect)="isOtherSelected($event,'reason')" (onDeSelect)="isOtherUnSelected($event,'reason')">

            </ng-multiselect-dropdown>
            <br>
            <input type="text" *ngIf="isOtherReason" (change)="addToReasonOfVisits($event)" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <label for="Complaint" class="form-label">Complaint</label>
          <ng-multiselect-dropdown [placeholder]="'Select Complaint'" [data]="complaintList"
            [settings]="dropdownSettings" formControlName="complaint" (onSelect)="isOtherSelected($event,'complaint')"
            (onDeSelect)="isOtherUnSelected($event,'complaint')">
          </ng-multiselect-dropdown>
          <br>
          <input type="text" *ngIf="isOtherComplaint" (change)="addToComplaint($event)" class="form-control">

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="LMP" class="form-label">LMP</label>
            <input type="date" class="form-control" formControlName="lmp" (change)="calcEdd($event)" />
            <span class="hint text-center">&nbsp; &nbsp;&nbsp; {{weeks}} weeks</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="edd" class="form-label">EDD</label>
            <input type="date" [value]="edd" [disabled]="true" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="w" class="form-label">Height</label>
          <div class="input-group">
            <input type="number" min="0" class="form-control" formControlName="height" #heightInput />
            <!-- <input
							type="number" min="0"
							class="form-control"
						/> -->
            <span class="input-group-text">CM</span>
          </div>
        </div>

        <div class="col-md-6">
          <label for="w" class="form-label">Weight</label>
          <div class="input-group">
            <input type="number" min="0" class="form-control" formControlName="weight" #weightInput (change)="
								calcBMI(
									heightInput.valueAsNumber,
									weightInput.valueAsNumber
								)
							" />
            <span class="input-group-text">Kilo</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="bmi" class="form-label">BMI</label>
          <!-- <input
						type="number" min="0"
						class="form-control"
						formControlName="bmi"
					/> -->

          <div class="input-group">
            <input type="number" min="0" class="form-control" [value]="bmi" [disabled]="true" />
            <span class="input-group-text">Kg/M <sup>2</sup> </span>
          </div>
        </div>
        <div class="col-md-6" formGroupName="bp">
          <label for="bp" class="form-label">BP</label>
          <div class="row">
            <div class="col border-right">
              <input type="number" min="0" class="form-control" formControlName="numerator" />
            </div>

            <div class="col">
              <input type="number" min="0" class="form-control" formControlName="denominator" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="temp" class="form-label">Temp</label>
          <input type="number" min="0" class="form-control" formControlName="temp" />
        </div>

        <div class="col-md-6">
          <label for="o2Sat" class="form-label">O<sub>2</sub> Sat %</label>
          <input type="number" min="0" class="form-control" formControlName="o2Sat" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="investigation" class="form-label">investigation</label>
            <!-- <input type="text" class="form-control" /> -->
            <ng-multiselect-dropdown [placeholder]="'Select investigation'" [data]="investigationList"
              [settings]="dropdownSettings" formControlName="investigation">
            </ng-multiselect-dropdown>

          </div>
        </div>

        <div class="col-md-6">
          <label for="Treatment" class="form-label">Treatment</label>
          <input type="text" class="form-control" formControlName="treatment" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="Notes" class="form-label">Notes</label>
          <input type="text" formControlName="notes" class="form-control" />
        </div>

        <div class="col-md-6">
          <label for="Upload" class="form-label">Upload</label>
          <br />
          <input type="file" accept="image/png, image/jpg, image/jpeg" (change)="onImagePic($event, 'upload')" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="Next Visit" class="form-label">Next Visit</label>
          <input type="date" class="form-control" formControlName="nextVisit" />
        </div>

        <!-- <div class="col-md-6">
					<div class="form-group">
						<label for="w" class="form-label">w</label>
						<input
							type="number" min="0"
							class="form-control"
							formControlName="w"
						/>
					</div>
				</div> -->
      </div>
    </div>
  </form>

  <div class="card-footer my-2">
    <div class="d-flex justify-content-end gap-1">
      <button class="btn btn-success" [disabled]="visitsForm.invalid" (click)="addVisit(modal)">
        Add
      </button>
      <button class="btn btn-warning" (click)="modal.close()">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #AddObstetric let-modal>
  <div class="card-header">
    <h2>Add An Obstetric History</h2>
  </div>
  <form class="m-2" [formGroup]="ObstetricHistorySpecificForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="" class="form-label">G</label>
          <br />
          <select type="number" min="0" formControlName="rank" class="form-control">
            <option value="Choose" disabled [selected]="true">
              Choose
            </option>
            <option *ngFor="let rank of ranks" [value]="rank">
              {{ rank }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label for="Weeks" class="form-label">Weeks</label>
        <input type="number" min="0" formControlName="w" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="Number of fetuse" class="form-label">Number of fetuse</label>
        <select class="form-control" formControlName="number">
          <option value="Single">Single</option>
          <option value="Twins">Twins</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="Mode Of termination" class="form-label">Mode Of termination</label>
        <select class="form-control" formControlName="modeOfTermination">
          <option value="Labor N">Labor N</option>
          <option value="Labor CS">Labor CS</option>
          <option value="Abortion Spontanious">
            Abortion Spontanious
          </option>
          <option value="Abortion D&C">Abortion D&C</option>
          <option value="VM">VM</option>
          <option value="Ectopic Nointervention">
            Ectopic Nointervention
          </option>
          <option value="Ectopic Medical">Ectopic Medical</option>
          <option value="Ectopic Salpingostomy">
            Ectopic Salpingostomy
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="Year" class="form-label">Year</label>
        <input type="date" formControlName="year" class="form-control" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Notes" class="form-label bold">Notes:</label>
          &nbsp; &nbsp;
          <label for="Anaesthesia Note" class="form-label">Anaesthesia Note</label>
          <input type="text" formControlName="anaesthesiaNote" class="form-control" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Operative Note" class="form-label">Operative Note</label>
          <input type="text" formControlName="operativeNote" class="form-control" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Complication Note" class="form-label">Complication Occurred</label>
          <input type="text" formControlName="complicationOccurred" class="form-control" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="Baby Weight" class="form-label">Baby Weight</label>
          <input type="number" min="0" formControlName="babyWeight" class="form-control" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row" formGroupName="hg">
          <div class="col-md-6">
            <div class="form-group">
              <label for="HG" class="form-label">HG Before</label>
              <input type="number" min="0" formControlName="before" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="HG" class="form-label">After</label>
              <input type="number" min="0" formControlName="after" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row" formGroupName="bp">
          <div class="col-md-6">
            <div class="form-group">
              <label for="before" class="form-label">BP Before</label>
              <input type="text" formControlName="before" class="form-control" />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="after" class="form-label">After</label>
              <input type="text" formControlName="after" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="card-footer d-flex justify-content-end gap-2">
    <button class="btn btn-success" (click)="AddObstetricHistory()">
      Add
    </button>
    <button class="btn btn-warning" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #publish let-modal>
  <div class="card-header">
    <h2>Publish The Record</h2>
  </div>
  <form [formGroup]="publishForm">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="title" class="form-label">title</label>
            <input type="text" formControlName="title" class="form-control" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="published" class="form-label">published</label>
            <input type="checkbox" formControlName="published" class="form-control" />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end gap-2">
      <button class="btn btn-success" (click)="publishRecord(modal)">
        Add
      </button>
      <button class="btn btn-warning" (click)="modal.close()">Cancel</button>
    </div>
  </form>
</ng-template>

<ng-template #showImage let-modal>
  <img [src]="imageInModal" alt="" />
</ng-template>