<!-- <app-toolbar></app-toolbar> -->

<div class="container">
  <div class="row">
    <div class="col-md-6 d-flex align-items-end">
      <div class="form-group">
        <a class="btn btn-info" routerLink="post">Create</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngx-datatable class="material" [scrollbarH]="true" rowHeight="auto" [externalPaging]="true" [count]="pager?.total"
        [limit]="12" [offset]="pager?.pageNumber" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
        [rows]="blogs" (page)="setPage($event)">
        <ngx-datatable-column name="Title" prop="title">
        </ngx-datatable-column>
        <ngx-datatable-column name="Category" prop="category"></ngx-datatable-column>
        <ngx-datatable-column name="published" prop="published">
          <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-published'] = true"
              *ngIf="!editing[rowIndex + '-published']">
              {{ value }}
            </span>
            <select autofocus (blur)="updateValue($event, 'published', rowIndex)"
              *ngIf="editing[rowIndex + '-published']" type="number" min="0" [value]="value" class="form-control">
              <option value="true">published</option>
              <option value="false">unpublished</option>
            </select>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions">
          <ng-template let-item="row" let-index="rowIndex" ngx-datatable-cell-template>
            <a placement="bottom" ngbTooltip="edit" class="text-success mb-0 mt-0 mx-2">
              <a [routerLink]="'post/' + item._id ">
                <fa-icon [icon]="faEdit"></fa-icon>
              </a>
            </a>
            <a placement="bottom" ngbTooltip="Delete" class="text-danger mb-0 mt-0 mx-2">
              <button class="btn" (click)="deletePost(item._id, index)">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
