footer {
  background: var(--blue);

  color: #fff;
  position: relative;
}

.footer-links {
  display: flex;
  padding: 5rem;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.icons {
  display: flex;
  gap: 1.5rem;
}

.floating {
  position: absolute;
  top: -40px;
  right: 10rem;
}

a{
  color: #fff;
}

@media (max-width: 700px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

/* .footer-distributed {
    background: var(--blue);
  color: #fff;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: 700 16px sans-serif;
	padding: 55px 50px;
}

a{
  color: #fff;
}

.footer-distributed .footer-left {
	width: 40%;
}
.footer-distributed .footer-center,
.footer-distributed .footer-left,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-links {
	color: #fff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-company-name {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}

.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
  display: flex;
  gap: 10px;

} */
/* .footer-distributed .footer-icons a >  *>*{
  width: 50px !important;
  height: 50px !important;
} */
