<footer>
  <div class="footer-links">
    <img src="assets/img/logoo-O-G-clinico.svg" width="150" alt="logo" />

    <div>
      <h4 class="text-2xl">Contact Us</h4>
      <ul>
        <li>
          <fa-icon [classes]="['fa-lg']" [icon]="faWhatsappSquare"></fa-icon>

          <a href="tel:+201013506038">+201013506038</a>
        </li>
        <li> <a href="mailto:ogclinic.666@gmail.com">
            <fa-icon [classes]="['fa-lg']" [icon]="faEnvelope"></fa-icon>

            ogclinic.666@gmail.com
          </a>
        </li>
      </ul>
    </div>

    <div>
      <h4 class="text-2xl">Social Media</h4>
      <div class="icons">
        <a target="" href="https://www.facebook.com/Og-clinico-100738029295378">
          <fa-icon [classes]="['fa-lg']" [icon]="faFacebookSquare"></fa-icon>
        </a>
        <a target="" href="https://www.youtube.com/channel/UCLcjE3XjQ55OOsVxyJG8pfg">
          <fa-icon [classes]="['fa-lg']" [icon]="faYoutubeSquare"></fa-icon>
        </a>
      </div>
    </div>
    <!--
		<img src="assets/img/whatsapp.png" alt="whatsapp" class="floating"/>
	</div>

	<p class="text-center text-xl">© 2022 All Rights Reserved</p>
-->
  </div>
</footer>
<!--
<footer class="footer-distributed">
  <div class="footer-left">
    <h3>
      <img src="assets/img/logoo-O-G-clinico.svg" width="200" alt="logo" />

    </h3>

    <p class="footer-company-name pl-5">
      OG-clinico © 2022
    </p>
  </div>
  <div class="footer-center">

    <div>
      <fa-icon [icon]="faPhoneAlt"></fa-icon>

      <p>+02 01013506038</p>
    </div>
    <div>
      <fa-icon [icon]="faEnvelope"></fa-icon>

      <p>
        <a href="mailto:ogclinic.666@gmail.com">ogclinic.666@gmail.com</a>
      </p>
    </div>
  </div>
  <div class="footer-right">

    <div class="footer-icons">
      <a target="" href="https://www.facebook.com/Og-clinico-100738029295378">
        <fa-icon [classes]="['fa-lg']" [icon]="faFacebookSquare"></fa-icon>
      </a>
      <a target="" href="https://www.youtube.com/channel/UCLcjE3XjQ55OOsVxyJG8pfg">
        <fa-icon [classes]="['fa-lg']" [icon]="faYoutubeSquare"></fa-icon>
      </a>
    </div>
  </div>
</footer> -->