<app-navbar></app-navbar>

<!-- hero Section -->
<!-- <app-hero></app-hero> -->


<div class="container">

  <div class="my-5">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Management Common Obstetric Complaints
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <ol>
          <li *ngFor="let item of obstetric">
             <a [routerLink]="'/doctors/blog/'+item._id">
              {{item.title}}
            </a>
          </li>
        </ol>
      </ng-template>
    </mat-expansion-panel>
  </div>

  <div class="my-5">

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        Management Common Gynacology Complaints
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <ol>

          <li *ngFor="let item of gynacology">
            <a [routerLink]="'/doctors/blog/'+item._id">
              {{item.title}}
            </a>
          </li>
        </ol>
      </ng-template>
    </mat-expansion-panel>
  </div>

  <div class="my-5">

    <mat-expansion-panel>

      <mat-expansion-panel-header>
        Drug Index Of Common Used Drugs
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <ol>

          <li *ngFor="let item of drugs">
            <a [routerLink]="'/doctors/blog/'+item._id">
              {{item.title}}
            </a>
          </li>

        </ol>
      </ng-template>
    </mat-expansion-panel>
  </div>
</div>

<app-footer></app-footer>
