@use '@angular/material' as mat;
// @import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import '../node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';
@import '~bootstrap/scss/bootstrap.scss';

@include mat.core();
$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
      )));
@include mat.core-theme($my-theme);
@include mat.expansion-theme($my-theme);
@include mat.paginator-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.snack-bar-theme($my-theme);



// * {
  // font-family: Cairo, Roboto,"Helvetica Neue", sans-serif;
// }

/* You can add global styles to this file and also import other style files
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
:root {
  --box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}
h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}
.container {
  width: 1320px;
  margin: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(
      300px,
      1fr
    );
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  padding: 19px;
}

li {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 8px;
}
p {
  font-size: 18px;
}
a {
  text-decoration: none;
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  width: 250px;
  height: 30px;
  border: 0.5px solid #000;
  padding: 0 2px;
  font-size: 1rem;
  font-family: inherit;
}

input:focus {
  outline: 0;
}

.btn {
  color: #fff;
  background-color: #8e44ad;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  font-weight: 600;
  font-size: 0.99rem;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}
@media screen and (min-width: 576px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 620px) {
  .cards-container {
    grid-template-columns: initial;
  }
} */
a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 1rem;
}

.gap-4 {
  gap: 1.5rem;
}

.gap-5 {
  gap: 3rem;
}

.fill-height {

  min-height: -webkit-fill-available;
}

.modal-backdrop.show{
  z-index: 999 !important;
}