.nav {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  padding:1.75rem;
  position: relative;
  z-index: 2;
  background: var(--blue);
}

img{
  width: 140px;
}

.z-100 {
  position: relative;
  /* z-index: 100; */
}

.nav-links-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
}



.fixed {
  position: fixed;
  /* position: top; */
  top: 0;
  left: 50%;
  padding: 10px auto;
  margin: 0;
  width: 100vw;
  max-width: 100%;
  /* margin-bottom: 4rem; */
  transform: translateX(-50%);
  /* background: linear-gradient(180deg, rgba(255,255,255,1) 00%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%); */
  background: rgba(255, 255, 255, 0.9);
  z-index: 5;
}

.m-0{
  margin: 0 auto;
  padding: 10px 0px;

}

.nav_link {
  font-size: 18px;
  color: var(--Midnight);
  list-style: none;
}

a{
  color: #fff;
}
/* a:hover{
  border-bottom: 2.5px solid var(--Anakiwa);

} */

.burger {
  color: var(--Anakiwa);
  transform: scale(1.5);
  padding: 0;
  border: 0;
  display: none;
  background: transparent;
}

@media (max-width: 1020px) {
  .burger {
    display: inline-block;
  }

  .nav-links {
    display: none;
    gap: 10px;
    flex-direction: column;
  }

  .nav.opened {
    align-items: flex-start;
  }

  .nav.opened .nav-links {
    display: flex;
  }

  .nav_link {
    font-size: 15px;
  }
}
