<!-- <nav>
  <ul class="nav-links container">
    <li><a href="" class="nav-link" target="_blank">Home</a></li>
    <li><a href="" class="nav-link" target="_blank">Patient</a></li>
    <li><a href="" class="nav-link" target="_blank">Contact</a></li>
    <li><a href="" class="nav-link" target="_blank">Assitan</a></li>
    <li><a href="" class="nav-link" target="_blank">Doctor</a></li>
    <li><a href="" class="nav-link" target="_blank">My</a></li>
    <li><a href="" class="nav-link" target="_blank">About</a></li>
  </ul>
</nav> -->

<!-- https://image.freepik.com/free-vector/vaccination-isometric-round-emblem-with-medical-tools-two-doctors-immunization-description-illustration_1284-31373.jpg -->

<!-- <nav class="bg-blue">
	<div class="container nav">
		<img src="assets/img/logo.svg" alt="logo" />
		<button class="btn burger">&#9776;</button>
		<ul class="nav-links">
			<li class="nav_link" ><a routerLink="/home">Home</a></li>
		</ul>
	</div>
</nav> -->
<!--
<nav class="navbar container-fluid navbar-expand-lg navbar-light bg-light">

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logoo-OG-clinic.png" alt="logo" />


    </a>
  </nav>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>


    </ul>

  </div>
</nav> -->

<div class="container-fluid text-center" style="padding: 1rem 0rem;">

  <img src="assets/img/logoo-O-G-clinico.svg" alt="logo" />
</div>
<nav [ngClass]="{ 'opened': isActive}">


  <div class=" container-fluid sm:px-4 nav " [ngClass]=" {'opened': isActive}">


    <div class="nav-links-container">
      <button class="btn burger z-100" (click)="toggle()">&#9776;</button>

      <ul class="nav-links">
        <li class="nav_link active">
          <a routerLink="/home">Home</a>
        </li>
        <li class="nav_link">

          <a routerLink="/main">Patient education</a>
        </li>
        <li class="nav_link">
          <a routerLink="/doctors">Contact your doctor
          </a>
        </li>
        <li class="nav_link">
          <a routerLink="/nurse">Nurse assistant</a>
        </li>

        <li class="nav_link">
          <a routerLink="/records">Flying patient files</a>
        </li>

        <li class="nav_link">
          <a routerLink="/auth/doctools" [queryParams]="{ login: true }">Doctor tools</a>
        </li>

        <li class="nav_link">
          <a routerLink="/auth/clinicLogin">My Clinic</a>
        </li>

      </ul>
    </div>
    <!-- <app-modal [isShown]="isShown" (close)="closeModal($event)"></app-modal> -->
  </div>

</nav>
