<div class="fullscreen">
    <div class="container form-container">
        <header class="d-flex align-items-center gap-3" *ngIf="!isSent">
            <h1>Forget Password</h1>
        </header>
        <div>
            <form [formGroup]="forgetPassword" *ngIf="!isSent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input class="form-control" formControlName="email" type="email" />
                            <span *ngIf="
                            forgetPassword.get('email').hasError('required') &&
									forgetPassword.get('email').touched
								" class="text-danger">Required</span>

                            <span *ngIf="
									forgetPassword.get('email').hasError('email') &&
									forgetPassword.get('email').touched
								" class="text-danger">Must be and Email</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-info" (click)="login()" [disabled]="this.forgetPassword.invalid">
                        Reset Password
                    </button>
                </div>
            </form>
            <div class="row" *ngIf="isSent">
                <div class="col text-center">
                    <div>
                        <img src="assets/img/check.png" alt="success">
                    </div>
                    <h2>Check Your Inbox It or may be In the Spam Section</h2>
                    <a routerLink="/home">Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>