<div class="container">
	<div class="row">
		<div class="col-md-4">
			<!-- <button class="btn"(click)="changeFun()">change</button> -->
			<div class="btn-group">
				<div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
					(viewDateChange)="closeOpenMonthViewDay()">
					Previous
				</div>
				<div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
					Today
				</div>
				<div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
					(viewDateChange)="closeOpenMonthViewDay()">
					Next
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<h3>{{ viewDate | calendarDate: view + 'ViewTitle':'en' }}</h3>
		</div>

		<div class="col-md-4">
			<button class="btn btn-primary float-right" (click)="openModal(template)">
				Add new
			</button>
		</div>
	</div>
	<mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
		[activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
		(eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
	</mwl-calendar-month-view>
</div>

<ng-template #modalContent let-close="close">
	<div class="modal-header">
		<h5 class="modal-title">Event action occurred</h5>
		<button type="button" class="close" (click)="close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div>
			Action:
			<pre>{{ modalData?.action }}</pre>
		</div>
		<div>
			Event:
			<pre>{{ modalData?.event | json }}</pre>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="close()">
			OK
		</button>
	</div>
</ng-template>

<ng-template let-modal #template>
	<div class="modal-body">
		<div class="card-header">
			<h2 *ngIf="!isEditing">Creating An Event</h2>
			<h2 *ngIf="isEditing">Updating An Event</h2>
		</div>
		<form [formGroup]="eventForm">
			<div class="row">
				<div class="col-lg-4">
					<label for="title">title</label>
					<input type="text" formControlName="title" class="form-control" />
				</div>
				<div class="col-lg-4">
					<label for="active">Start Date:</label>
					<input formControlName="start" class="form-control" type="date" />
				</div>

				<div class="col-lg-4">
					<label for="name">End Date:</label>
					<input formControlName="end" class="form-control" type="date" />
				</div>
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">
			Close
		</button>
		<button type="submit" [disabled]="eventForm.invalid" class="btn btn-outline-dark" (click)="addUpdateEvent()">
			Save
		</button>
	</div>
</ng-template>
